[2015-08-18 16:34] NickTomlin opened #2 "Test for and handle multiCapabilities"
We need to add coverage for spes run with multiCapabilities set. See #1

[2015-08-19 07:07] odaems commented on #2
I actually tried to do this yesterday, but couldn't finish in time.
Ideally you would only want to repeat the spec in the capability it failed in, currently it repeats the spec for capabilities defined in the initial protractor conf.

[2015-08-21 20:46] NickTomlin commented on #2
We now have test coverage at the unit level for this, but it would be good to add some integration tests that actually run protractor with multiCapabilities. I'll leave this open for now.

[2015-08-24 14:11] NickTomlin opened #3 "Better windows support"
At the moment the only way to run protractor-flake on a windows machine (without protractor on path) is to point directly to the `protractor.cmd` (e.g. `protractor-flake --protractor-path=node_modules\.bin\protractor.cmd`). I'd like to find a better way.

[2015-08-25 13:51] NickTomlin opened #4 "Paths are broken for Windows"
Windows paths begin with `C:\foo\bar`, the regex that we use to parse failed specs tries to be non-greedy and stops at the first `:` it encounters. We should update this to better handle these types of paths.

[2015-08-26 22:59] #4 closed

[2015-08-31 23:36] bcherny opened #6 "protractor-flake seems to rerun ALL tests when only SOME fail"
running via gulpfile:

[code]

and the protractor.conf.coffee:

[code]

[2015-09-01 15:52] NickTomlin commented on #6
That should definitely _not_ be happening, thanks for bringing this to my attention! If you have the time could you try running protractor flake with the `PROTRACTOR_FLAKE_LOG_LEVEL` env variable set to `debug` and post the output?

I'll do my own investigation as well.

[2015-09-02 13:39] NickTomlin commented on #6
I can definitely confirm this happens when `--suite` is passed to protractor. I'll start working on this but may not be able to get a fix out for a few days due to scheduling. Feel free to PR something in the meantime.

[2015-09-02 13:58] NickTomlin commented on #6
A super hacky fix would be to just remove the `--suite` from the arguments passed to protractor when re-running the specs. I'll push a branch with this fix if you wouldn't mind testing it.

[2015-09-02 17:19] NickTomlin commented on #6
Here's the [branch](https://github.com/NickTomlin/protractor-flake/tree/suite). I'm going to see if I can get some integration coverage for it. Would love any feedback you have.

[2015-09-03 19:06] bcherny commented on #6
pulling your branch, the behavior is still the same - successful tests are re-run every time.

[code]

also, setting the log level seems to have no effect..

[2015-09-03 21:58] NickTomlin commented on #6
@bcherny interesting, I haven't been able to replicate this :frowning:  Does your project happen to be open sourced? I'd love to pull it down and take a look.

I've set up a [gitter](https://gitter.im/NickTomlin/protractor-flake) room so we can talk about things in a more real-time manner if that suits you better.

[2015-09-03 22:05] bcherny commented on #6
i won't be able to take another look till possibly later today. will keep you posted!

[2015-09-12 00:25] NickTomlin commented on #6
@bcherny were you able to take another look? I still haven't been able to reproduce, but I want to make sure this isn't happening :)

[2015-09-15 12:57] #3 closed

[2015-09-15 13:52] NickTomlin commented on #2
I'm going to close this for now. We can backfill test coverage later if we need it.

[2015-09-15 13:52] #2 closed

[2015-09-15 21:46] NickTomlin commented on #6
Looks like others are [reproducing this](https://gitter.im/NickTomlin/protractor-flake?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2015-09-16 18:04] NickTomlin commented on #6
It appears like this is an issue with Jasmine2 output. @brandonbeyers and I are investigating further.

[2015-09-16 18:16] bcherny commented on #6
thanks for the updates! sorry about not helping more, it's been a hectic few weeks.

[2015-09-16 23:02] NickTomlin commented on #6
It seems like this was due to jasmine2 output being slightly different than jasmine1 output.
Jasmine one has failed out put like `[object Object].<anonymous> (/path/to/spec.js)` whereas jasmine2 has output like at `Object.<anonymous> (/path/to/spec.js)`.

 I've fixed this in [this branch](https://github.com/NickTomlin/protractor-flake/tree/investigate-%236). @bcherny if you wouldn't mind checking

[2015-09-17 17:52] NickTomlin commented on #6
So this is caused by Jasmine2 output (which will be fixed by the changes in the aforementioned branch) or due to a custom reporter that changes the failed spec output from what protractor-flake expects. If you are using a custom reporter you will need to make sure that the original jasmine failures get printed to STDOUT by your tests. @brandonbeyers has a solution for this and is going to PR an ad

[2015-09-17 17:53] #6 closed

[2015-09-17 17:57] brandenbyers commented on #6
Yes, as @NickTomlin says, if working with a custom reporter such as jasmine-spec-reporter, make sure to display stacktraces:

[code]

[2015-09-23 13:01] el-davo commented on #6
Hi. Is this now fixed. I am still having this issue when i pass in a --suite flag, it runs all tests, I am using version 1.0.1 of this plugin.

[2015-09-24 18:31] johntran opened #12 ""Protractor is not found""
Hi there!

I have protractor nested in "node_modules/protractor"  and ".bin/protractor".

I go to my project folder and run "protractor-flake"

I get the error "Cannot find module 'protractor'".

How can I debug from here?

Thanks!

[2015-09-24 21:35] NickTomlin commented on #12
Interesting, that definitely should not be happening. Thanks for bringing this up. To help troubleshoot, can you give me a few details:
- Your operating system
- Your node version
- Your protractor version
- Your protractor-flake version

Does running programmatically work?

[2015-09-24 23:54] johntran commented on #12
When doing "npm list -g", I got this error:

I did "npm install -g protractor" and ran "protractor-flake" and got below:

How do I move forward from here?
Thanks! :)

[2015-09-25 02:11] NickTomlin commented on #12
Thanks for the info! Would it be possible to see your protractor config file? Seems like something might be wrong there.

Protractor does need to be installed. It should be automatically installed when using NPM < 3, which is odd :\

[2015-09-29 15:32] johntran commented on #12
My protractor.conf.js file:

[2015-09-30 07:21] lynchblue commented on #12
Same issue here

[2015-09-30 09:08] el-davo opened #13 "Not working with latest version of protractor - 2.3.0"
Hi

We have been using your plugin for a few weeks now with version 2.2.0 of protractor and it has been working perfectly. After upgrading to latest version we now see that there is an issue when the tests try and re-run. We get an error like below. Am not sure what is causing it?

WARNING - pattern C:\GIT\titan-ui\test\e2e\integration\data-management\project-workspace\projectAssetsSpec.js did not

[2015-09-30 17:37] NickTomlin commented on #13
Alas, it looks like this is an upstream issue with [protractor 2.3.0](https://github.com/angular/protractor/issues/2551) and windows paths. Are you using the cli version of protractor flake?

[2015-09-30 17:40] NickTomlin commented on #12
@lynchblue could I also get you to give the following detals:
- Your operating system
- Your node version
- Your protractor version
- Your protractor-flake version

As well as your `protractor.conf.js` file

[2015-09-30 18:08] el-davo commented on #13
Hi Nick.

Unfortunately not. We are using with node wrapped in a gulp task. Thanks for pointing to the root of the issue though

[2015-09-30 18:58] lynchblue commented on #12
@NickTomlin I already fixed the issue. The problem was that I had removed the node_modules folder and then I had run <code>npm install</code> but I forgot to run <code>webdriver-manager update</code> in order to download the webdriver jar. Therefore the tests couldn't be run and no output was shown.

[2015-10-15 11:29] el-davo commented on #13
Hi Nick.

I can confirm that this is now working in protractor 2.5.1. Please feel free to close. Awesome plugin btw

[2015-10-15 12:38] NickTomlin commented on #13
Great. Glad to hear it! Thanks for updating!

[2015-10-15 12:38] #13 closed

[2015-10-20 21:16] johntran commented on #12
Is there a project you can show with protractor flake installed? Maybe my config is off somehow.

[2015-10-20 21:34] NickTomlin commented on #12
@johntran I don't have an open-source project to show you but you can look at the configs included in the [test suite](https://github.com/NickTomlin/protractor-flake/blob/master/test/support/protractor-config/protractor.conf.js).

[2015-10-21 17:22] johntran commented on #12
@NickTomlin Good news! You can close this issue.

I tried running my protractor with sharding and I got this error:

Googling this issue gets this link: http://stackoverflow.com/questions/29219075/webdriver-unable-to-create-session-with-phantomjs

I ran

and it works!

I'm using protractor-flake at the company I'm working at, and your library allows us to have continuous integration on our front e

[2015-10-22 19:35] NickTomlin commented on #12
@johntran glad you figured it out! Thanks for reporting back.

[2015-10-22 19:35] #12 closed

[2015-10-29 14:53] zivSher opened #14 "how to use it"
Hi,
I might missing something, but I didn't understand exactly how to use it programatically. where exactly do I put it?
is there an example of use?
Thanks a lot.

[2015-10-29 15:50] NickTomlin commented on #14
There's an example in the README:

[code]

I currently use this inside of a gulp task that starts my server and then launches protractor via protractor-flake.

[2015-10-29 19:28] zivSher commented on #14
thanks. i saw it earlier but still not sure how exactly to use it. should I put it in the spec file or the conf file? and how exactly to use it?
BTW, I don't use grunt or gulp.
Thanks.

[2015-10-29 20:19] NickTomlin commented on #14
You use it to launch protractor, so you include in a file outside of your specs or config. E.g. you could create a file called `run-protractor.js` with the contents above and run `node run-protractor.js` which would run protractor wrapped by protractor-flake.

[2015-10-30 14:32] NickTomlin commented on #14
I'm going to go ahead and close this. Please feel to reach out in the [gitter](https://gitter.im/NickTomlin/protractor-flake?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) channel with more questions

[2015-10-30 14:32] #14 closed

[2015-12-15 14:47] NickTomlin opened #15 "Work with jasmine-reporters output"
We've had a lot of questions about usage with reporters like jasmine [Junit](https://github.com/larrymyers/jasmine-reporters) and others. We should verify and document some use cases in the README or an examples folder.

[2015-12-15 18:58] NickTomlin commented on #15
Looks like this is due to a difference in output from `jasmine-reporters` a failed spec looks like this:

[code]

Which does not pass our simplistic [regex](https://github.com/NickTomlin/protractor-flake/blob/master/src/failed-spec-parser.js#L12). We should try to include this format as well.

[2015-12-30 19:39] NickTomlin commented on #15
I haven't had much time to dig into this, but a _very_ gross workaround would be to a console reporter in addition to the junit reporter in protractor's `onPrepare`:

[code]

Which would spit the proper output out to the console as well as write the junit file.

[2016-01-04 11:26] harsha509 commented on #15
Hi Nick,

I have tried all possible test scenarios by placing the above code in onPrepare: method. Still having the same issue, Along with failed test passed tests are also being executed.

[2016-01-04 18:54] NickTomlin commented on #15
@Harsha509

After doing some digging with the sample you provided (via email) it turns out that there's a different stack trace for errors within a promise:

E.g.

[code]

Would output a stack formatted the way protractor-flake wants (`[object Object].<anonymous>`)

[code]

but putting the expectation inside the promise does not

[code]

Would output:

[code]

We could try to get around this by cr

[2016-01-08 19:04] stramel opened #16 "Hanging Test"
I just got this working while testing with a few tests and works as expected. I am now trying to run my full suite ~765 tests and it is hanging on this test. The output is below.

[code]

[code]

[code]

[2016-01-08 19:10] NickTomlin commented on #16
Interesting. This works normally when running all tests?

[2016-01-08 19:23] stramel commented on #16
@NickTomlin That's correct. However, it appears that protractor-flake is using selenium server instead of chromedriver directly? I think my CI server is running selenium as well though.

![success](http://i.imgur.com/Hg0x9nl.png)

**UPDATE:** I got the test to pass and run by itself after it retried a few times. `directConnect: true` or selenium server didn't seem to affect the results.

Just stra

[2016-01-08 19:35] stramel commented on #16
Here is the results of 2 test runs focused to the file containing the hanging test:

[code]

When focused it seems to eventually pass, however when running the entire suite it consistently fails at the test listed. Possibly a protractor or chromedriver issue?

[2016-01-08 19:47] NickTomlin commented on #16
Yeah this sounds more like protractor or chromedriver. All protractor flake does is re-run the protractor process, so it shouldn't interfere with your test.

One wild thought: perhaps theres some state in your tests that creates a situation where this will fail deterministically ?

[2016-01-08 19:51] stramel commented on #16
Alright, well I will go ahead and close this until I check Protractor, chromedriver, and the tests a bit more thoroughly. Thanks for your help!

[2016-01-08 19:51] #16 closed

[2016-01-08 19:56] NickTomlin commented on #16
Thanks for checking in! Good luck!

[2016-01-14 11:48] kogai commented on #15
I have same problem, and resolved it like below.

First, I flagged shardTestFiles to true.

[code]

Then protoractor's stdout like below.

[code]

And then, the result of all the tests will be as follows.

[code]

So, parse test IDs from  `[launcher] chrome #1-0 failed 1 test(s)` > ['#1-0'] .
Then, get path to spec file from line of `[chrome #1-0] Specs: /path/to/mySpecFile.js`.

It works well, ei

[2016-01-21 15:46] tomca32 opened #17 "Support Protractor 3.x.x"
Would like to use this with the latest version of Protractor. When installing protractor-flake this is the error message:

    npm ERR! peerinvalid The package protractor@3.0.0 does not satisfy its siblings' peerDependencies requirements!
    npm ERR! peerinvalid Peer protractor-flake@1.0.2 wants protractor@2.x

[2016-01-21 16:14] #17 closed

[2016-01-21 16:22] NickTomlin commented on #17
Ah, great catch! I totally forgot to update this. I have updated the dep to 2.x and greater. This has been published as`1.0.3` please let me know if that has not resolved this for you, thanks!

[2016-01-21 18:33] tomca32 commented on #17
Great! Thanks for the quick update.

[2016-02-23 21:53] eyphka opened #18 "Multicapabilities retries all tests, and uses all maxInstances on fail."
As an example if you pass

multiCapabilities = [
  {
    browserName: 'chrome',
    specs: ['./someOkTest.js'],
    maxInstances: 1
  },
  {
    browserName: 'chrome',
    specs: ['./someBadTest.js'],
    maxInstances: 1
  }
];
This will run all of the tests from someBadTests, in 2 webdrivers.

And if you have multiple specs in a multicapabilities, it will run all of the specs if one fails.

[2016-03-04 22:14] NickTomlin commented on #18
Hi there! Thanks for letting me know about this.

So to be clear, in your example if `someOkTest` passes but `someBadTest` fails, it will re-run both `someOkTest` and `someBadTest`?

Any chance you can put together a small example repo or a PR? I'm pretty slammed at the moment but this is definitely something that would be good to fix.

[2016-03-09 19:43] prabinmetals opened #19 "How to rerun parent spec when helper spec fails"
Here is my small spec file that calls a helper file which contains all the it and describe block.
[code]
When _externalAccountDirector.spec.js_ fails, flake will try to rerun permissions.shared.js file instead. I would like to rerun externalAccountDirector.spec.js
Thank you.

[2016-03-10 00:36] NickTomlin commented on #19
Can you give me a sample of what `permissions.shared` looks like (and example failure output)? I believe this is happening because the stack trace points to an exception thrown in that file and not the file that it is required in. There's no way to solve this at the moment.

I'm thinking about including a method to customize how exceptions are handled, so perhaps that might be a good fit for this

[2016-03-10 18:12] prabinmetals commented on #19
**Here is the permissions.shared.js (sample structure)**

The expect inside permissions.shared.js when failes causes this file to be re-run.

**Output:**

[code]

One idea I had was to re-run file with extension .spec.js.

[2016-03-22 20:09] tedsiebear commented on #6
hm still an issue for me, I am logging stackstrace: displayStacktrace: 'all' or 'specs' and still it is rerunning the whole test suite rather than individual tests that failed, using jasmine2

[code]

[2016-03-28 10:58] guilhotarras opened #21 "Handle webdriver timeouts"
Hello,
I am trying to use protractor-flake to rerun some failed scenarios that are failing sometimes because my selenium grid gives a timeout when forwards some tests to the nodes.
When this occurs, I get this log:

`03:43:15.738 [chrome #01-34] WebDriverError: Error forwarding the new session Error forwarding the request Read timed out
03:43:15.738 [chrome #01-34]     at WebDriverError (/var/lib/

[2016-03-28 17:08] NickTomlin commented on #21
Hi there!

I don't have any experience with Selenium Grid unfortunately. Protractor flake is very simplistic in that it just [parses](https://github.com/NickTomlin/protractor-flake/blob/master/src/failed-spec-parser.js#L12) the output of protractor looking for exceptions. If selenium grid is not outputting a stack trace in the format that protractor-flake is looking for it will not work.

It looks

[2016-03-29 12:43] guilhotarras commented on #21
`04:39:44.056 [chrome #01-33] PID: 13612
04:39:44.056 [chrome #01-33] Specs: /var/lib/go-agent-4/pipelines/FrontEnd-TVG4-Dev/workspace/tvg-tvg4-angular/tests/web-tests/mock-tests/tests/account/desktop/my-tracks-0-spec.js
04:39:44.056 [chrome #01-33]
04:39:44.056 [chrome #01-33] Using the selenium server at http://10.216.1.49:4444/wd/hub
04:39:44.056 [chrome #01-33]
04:39:44.056 [chrome #01-33] /va

[2016-03-29 13:55] NickTomlin commented on #21
I currently don't have the time to work on this feature, but i'd be happy to work alongside you as I can to implement it. I'm going to change the issue of this title to "handle webdriver timeouts"

Thanks!

[2016-03-30 08:57] guilhotarras commented on #21
Ok thank you. When you have time, please ping me.
Regards

[2016-04-04 09:49] guilhotarras commented on #21
Hi, another question is: When protractor-flake re-runs failed tests, the pipeline where they run is going to be green ? I ask this because it is very important to have a quick visual about the state of the pipeline where the tests are runned.

[2016-04-04 13:51] NickTomlin commented on #21
I'm not sure what you mean by the pipeline being green. Could you give some more details on that?

[2016-04-04 14:16] guilhotarras commented on #21
I run my tests on GO server, that has a pipeline with a task that runs the tests. When the tests are successful, that pipeline stays green (green bar), when it doesn't, it stays red.

[2016-04-04 14:18] NickTomlin commented on #21
I don't think this should affect the pipeline then, it should only "fail" when the retries have all run unsuccessfully.

[2016-04-04 14:25] guilhotarras commented on #21
Ok .... have you already have a solution for this webdriver timeouts ?

[2016-04-04 14:29] NickTomlin commented on #21
I do not have a solution. I'm not going to be actively working on this feature. If you would like a fix you are free to implement one via a PR though 😄

[2016-04-08 09:26] z-boy opened #22 "Provide verbose mode"
Hi,

it would be nice to have the possibility to start protractor-flake in verbose mode.
When I e.g. install protractor and I forget to download the selenium-servier binaries I get a standard pretty understandable error message once I start my e2e tests. But when I start my tests with protractor-flake instead, this message will be swallowed and the user is stuck. I'm also not able to pass the --ve

[2016-04-08 17:41] NickTomlin commented on #22
`--verbose` should get passed through but I think you are right in that we _do_ swallow the output.

I think we should definitely pursue this, great catch!

I'll try to work on this in my spare time but feel free to submit a PR!

[2016-04-12 04:45] molasses0 opened #23 "Fix to handle lowercase drive letters on Windows"
When I run protractor flake on Jenkins it is not finding failed specs as the log is listing the Windows drive letter in lowercase.
eg. d:\workspace\blah\blah.js

Can you please update the FAILED_LINES regex to be case insensitive?
let FAILED_LINES = /at (?:\[object Object\]|Object)\.<anonymous> \((([A-Z]:\\)?.*?):.*\)/gi

Or to include lowercase drive letters?
let FAILED_LINES = /at (?:\[object Ob

[2016-04-12 15:37] NickTomlin commented on #23
Great catch! Let's go with handling lowercase drive names `[A-Za-z]`.

I can try to get this patched up later today, but if you want to submit a PR (with a test) that would be much appreciated.

[2016-04-12 17:36] #23 closed

[2016-04-12 17:39] NickTomlin commented on #23
This has been released. Let me know if that hasn't resolved things for you!

[2016-04-26 09:51] el-davo commented on #18
Just to weigh in here. I have seen this happen also when you have 10 tests suites and 1 fails it re-runs all 10. This doesnt happen when the tests fail directly, but if an error happens that is not specifically related to a test. For example if you have a plugin that is writing test results you get an error sometimes that it cannot create a directory

[chrome #01-2] PID: 19636
[chrome #01-2] Specs

[2016-04-26 14:29] NickTomlin commented on #18
@el-davo

This is because protractor-flake does a very simple scraping of the output looking for the stacktraces of an assertion error. There's no way to connect the `Error: ENOENT: no such file or directory, open 'C:\GIT\bla\test_results\e2e\screenshots\screenshots\9ac5a10b95
f71c7c211d7ebfd5510ab3.png'` error to a spec from that stack trace so it re-runs them all. Not super great 😄  but i'm also

[2016-05-09 10:07] FinKingma commented on #18
I'm also experiencing a similar problem. I ran protractor flake with 2 separate spec files, deliberately creating an error in one of them. But protractor flake reruns both javascript files.
It would help a lot if protractor flake only re-ran the files that contained errors

Re-running tests: test attempt 3
Re-running the following test files:
---/tests/referral/supplyPageSpec.js (<-- file containi

[2016-06-18 12:47] NickTomlin commented on #22
This should be solved (or at least made better by ) https://github.com/NickTomlin/protractor-flake/commit/831672ad0f0a19626230b823f3704d8c69f1c8de. I'm going to go ahead and close this.

[2016-06-18 12:47] #22 closed

[2016-06-22 21:22] FinKingma commented on #21
I was having the same problem. However, when using sharding, and the Specs are described at the start of each run, it is quite easy to create a fix.
I added a PR that collects all tests in an array of tests, and then checks each test for a passing signal (0 failure), and in all other cases it will add the file to the list to re-run. This way all error states are captured as well, because 0 failure

[2016-07-07 19:03] willyyang opened #27 "Can't exit from cucumber tests"
Hi there, thanks for creating this.

I'm having troubles getting my cucumber tests to run.
I get this error  "Error: Spec patterns did not match any files."

[code]

protractor.conf.js:
[code]
Thanks!

[2016-07-07 21:10] willyyang commented on #27
nning

[2016-07-07 21:10] #27 closed

[2016-08-05 21:20] #21 closed

[2016-08-05 21:45] NickTomlin commented on #18
This should be fixed with the new multitest support released in `2.x` (thanks to @FinKingma for adding the parser). You should be able to use the `--parser multi` option.

[2016-08-08 21:48] patelpayal commented on #18
@NickTomlin @FinKingmaI tried protractr-flake(v2.0.1) so that we can retry running failed specs. I provided 2 specs in protractor config file under capabilities config.(1 spec always fails.)[https://github.com/angular/protractor/blob/master/docs/referenceConf.js#L168]  I am not using `suites` or `specs` in my config as all my specs are under capability section.

protractor-flake is able to recogni

[2016-08-08 22:19] NickTomlin commented on #18
@patelpayal can you share your protractor config as well?

[2016-08-08 23:04] patelpayal commented on #18
@NickTomlin
We generate config automatically via custom lib but here is the config I am printing from protactor. I hope, its okay. https://gist.github.com/patelpayal/1c710e09abdbfb47f5154577381b7755

[2016-08-12 18:13] okram999 commented on #6
when some test fails due to timeout, there is no stacktrace. Its 'undefined'. And hence it ends up re-running all the test. Is this by design?

[2016-08-12 18:22] okram999 opened #32 "no stacktrace for timeouts, so re-runs everything"
when some test fails due to timeout, there is no stacktrace. Its 'undefined'. And hence it ends up re-running all the test. Is this by design?

[chrome #1-11]
[chrome #1-11]
[chrome #1-11] Failures:
[chrome #1-11]
[chrome #1-11]   1) Open SomeTestName Test should find the Search button Function
[chrome #1-11]    Message:
[chrome #1-11]      timeout: timed out after 120000 msec waiting for spec to

[2016-08-14 22:18] NickTomlin commented on #32
Hi there,

Protractor flake is not very smart and can only selectively re-run tests if it knows which test files failed. I haven't found a great way of fixing this (since protractor requires file paths and not spec names).

If you can think of a way to solve this please feel free to submit a pull request. Thanks!

[2016-08-17 15:36] FinKingma commented on #18
@NickTomlin I don't think the recent fix made any change here. It was focused on fixing issue 21 with timeouts.
This multi capabilities problem lies somewhere else. I believe this issue should be reopened.

@patelpayal
Testfiles can be specified in a global level in your protractor config, and in the multiCapabilities array, which I see in your config patelpayal.
as in:

[code]

protractor-flake w

[2016-08-17 16:07] FinKingma commented on #6
@okram999 The default parser only supplies the test specs that can be retrieved with an error stack trace. With timeouts, the test specs are not shown in the error stack trace. So by default there is no way to retrieve the specfile. This results in rerunning all your specs.

If you are using sharding or other types of multitests, you can now also use the multi parser, which assumes that the specfi

[2016-08-17 16:10] NickTomlin commented on #18
@FinKingma

Thanks for investigating. Yep; this is true. We deal with the top level `specs` not specs within multicapabilities.

We could try to override this at a lower level but I can see that getting complex

[2016-08-26 14:55] wswebcreation commented on #18
To give you more info. Protractor + Cucumber can also work with multicapabilities. I'll check next week if I can make a PR for the Cucumber parser. Will let you know.

[2016-08-26 16:54] NickTomlin commented on #18
@wswebcreation awesome, that would be great. Thanks!

[2016-08-27 15:00] wswebcreation commented on #18
@NickTomlin

I see that the CucumberJS parser that was made in this [PR](https://github.com/NickTomlin/protractor-flake/pull/9) isn't working due to a newer version of CucumberJS.
Do I need to make it "backwards compatible"?
Shall I also take that into my PR or do you want a separate PR for it, or do you prefer the parser to be standard and multi in 1?

[2016-08-29 14:25] wswebcreation commented on #18
@NickTomlin,

Can you check this [feature](https://github.com/wswebcreation/protractor-flake/tree/fix/cucumber-multicapabilities). I'm not sure this is what you mean.

[2016-08-29 17:26] NickTomlin commented on #18
@wswebcreation thanks! I'll try to take a look in the next day or so.

[2016-09-01 23:23] NickTomlin commented on #18
@wswebcreation interesting! I don't really understand cucumber very well but that seems to make sense. Do you want to go ahead and PR it?

[2016-09-04 17:57] wswebcreation opened #35 "TypeError: list.split is not a function"
**Version protractor-flake:** 2.0.1
**Version protractor:** 3.2.2

**Situation:**
We use a custom grunt taskmanager to create protractor tasks. In those tasks we provide the `steps:` that need to be run.
When `protractor-flake` provides the array of failed specs `protractor` is run again for the second time. `protractor` then fails with this error

[code]

**Cause:**
The `protractorArgs` array (se

[2016-09-05 09:35] phgnx opened #36 "Allow custom parser as parameter"
Hello,

We are facing some issues with the parser with typescript files, if the source map is included, the plugin try to rerun the ts files instead of the js one, since the tool rely on :
`let FAILED_LINES = /at (?:\[object Object\]|Object)\.<anonymous> \((([A-Za-z]:\\)?.*?):.*\)/g`

We also plan to put some logic after the parsing in a custom parser to work around the timeout issue, because in o

[2016-09-06 17:26] NickTomlin commented on #36
Yep! This is definitely on the roadmap but I'd love a PR on this if you have time!

I was thinking about the ability to pass in a filename and have that be `require`d by protractor flake. It would just have to return an array of files to retest.

[2016-09-06 17:31] NickTomlin commented on #35
I think this makes sense! I wonder if we could just do a better job of cleaning up the arguments with a helper function (since we want to drop anything that specifies `--suite` or `--specs` on re-run and replace them with just `specs`?

A pr would be welcome!

[2016-09-06 18:13] wswebcreation commented on #35
I'll make a PR for the '--specs'

We're not working with '--suites' so I don't know what I would break by making a generic helper for it.

[2016-09-07 22:49] NickTomlin commented on #35
Sounds good. I think we'll also want to incorporate `--suites` but that's something that I can focus on.

[2016-09-07 22:50] NickTomlin commented on #32
Going to go ahead and close this since it's a known issue that needs a fix. Again, PRs are very much welcome 😄

[2016-09-07 22:50] #32 closed

[2016-09-08 06:28] wswebcreation commented on #18
@NickTomlin
Can this issue be closed now, or are there still issues with multicapabilities?

[2016-09-10 18:28] wswebcreation commented on #35
PR fixed, can be closed

[2016-09-10 18:28] #35 closed

[2016-09-12 18:07] joelfogue commented on #18
@wswebcreation I'm not sure that this issue is resolved yet; I recently set up my protractor flake to run in a multicapabilities environment. So my tests run in parallel to speed up test execution and save time. Right now, protractor flake will rerun both the failing and passing tests in parallel eventhough we want ONLY the failed ones to rerun.

The desired behavior should be the following:
1. I

[2016-09-12 18:16] wswebcreation commented on #18
Can you please add the logging of the testoutput? It seems like that the testoutput can't find any failed specs.
When it can find failed specs it should also put them in the log.

Like to hear from you

[2016-09-12 18:23] joelfogue commented on #18
@wswebcreation Thanks for your quick response, please give me 10mins, I'll set up some dummy test files, run them with the above commands and paste the test logs here

[2016-09-12 18:25] wswebcreation commented on #18
Tnx

Hope to check it this evening, else tomorrow

[2016-09-12 18:26] joelfogue commented on #18
BTW are you able to achieve that desired behavior in your setup? If yes, could you maybe share your protractor.conf.js file and your protractor-flake command?

[2016-09-12 18:30] wswebcreation commented on #18
I'm using cucumber and as an argument for the parser I now use `cucumberMulti'

You should use `multi` in stead of `standard`

Which framework do you use?

[2016-09-12 18:33] joelfogue commented on #18
@wswebcreation First off, I'm a newbie at this e2e tests so learning as much as I can; my background is in Java.  To answer your question, I'm using cucumberJs, Protractor and Protractor-flake to handle the rerunning of failed tests; that worked great when running a single browser instance but in parallel it doesn't.
What do you mean by you should use 'multi' instead of 'standard'?  You mean cucum

[2016-09-12 18:36] wswebcreation commented on #18
Then please do this
- Make sure you have the latest version, should be at least 2.1.0
- Read [this](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md)

Then it should all come together  😉

[2016-09-12 18:40] joelfogue commented on #18
I can't use Ruby, required to use Javascript thus CucumberJs. Is cucumberMulti a Ruby implementation? Could you please provide a link to cucumberMulti? Again, we can only use cucumberJs, the Javsacript implementation of cucumber. so no Ruby.

Here are my versions:

[code]

I'll take a look at the link you provided, thanks

[2016-09-12 18:45] wswebcreation commented on #18
`cucumberMulti` is the new parser for cucumberJS provided in the latest version of `protractor-flake`

Your command should be `protractor-flake --parser cucumberMulti --node-bin node --max-attempts=3 -- protractor.conf.js`

Hope both documentation files should be clear enough for you.

[2016-09-12 18:54] joelfogue commented on #18
Reading [that link](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md) I got a better understanding or so I think, could you please confirm that I'm understanding this corrently?
1. Because I have cucumberJs v1.3.0 (**_cucumberjs > v0.9.0 as specified in that link you provided above_**), I'm automatically using that Multi parser and NOT the standard one.
2. Ok so I'm usin

[2016-09-12 18:59] wswebcreation commented on #18
1. No, you should provide the parser in your command
2. The README.md in the root is for how to implement and use (first few lines of text), the link for more info about cucumberJS usage

Good luck with it.

[2016-09-12 19:04] joelfogue commented on #18
@wswebcreation Wonderful wealth of information, I'm sure you've helped a ton of people by going through my questions, thanks again. This should get me there and I will be back soon with whether or not it worked!

Can you please answer this last question for me,

This whole setup is to get protractor-flake to rerun failed tests when in parallel mode i.e you're running your tests across multiple bro

[2016-09-12 19:11] wswebcreation commented on #18
`protractor-flake` provides an array of failed `specs` and not failed testcases. That's not possible.

The failed `specs` (for cucumberJS feature-files with 1 or more scenario's) are run on all instances (browsers/devices) provided in the `multicapabilities` of the `protractor.conf.js`.

[2016-09-12 19:24] joelfogue commented on #18
Thanks @wswebcreation , just want to add that the (_**[See example logging](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md#cucumbermulti)**_) link under the cucumberMulti heading is broken; could you please update that link when you get a chance @NickTomlin ?

[2016-09-12 21:13] NickTomlin commented on #18
@wswebcreation I think this can be fixed by just adding `../` to the beginning of that link. Is there a specific case that is best or should we just link to the root of the cucumber fixtures?

[2016-09-12 21:13] joelfogue commented on #18
@wswebcreation @NickTomlin Ok so I get everything working fine in parallel with that cucumberMulti parser ONLY when the --max-attemps flag is set to 2; anything greater than that reruns both the passed and failed files when only the failed should run.

I added the following the hook per the documentation to ensure that it would only rerun the failed ones but still doesn't work if --max-attempts is

[2016-09-12 21:24] joelfogue commented on #18
@NickTomlin @wswebcreation Actually here's what seems to be happening:
- I have 3 feature files, 2 passing tests, 1 failing test
- 3 browser instances running in parallel
- --max-attemps = 4
- My protractor.conf.js file

[code]

**On 1st attempt/run:**

[code]

**On 2nd run:**
Only the 3rd feature RERUNs as expected

**On 3rd run** since --max-attempt was set to 4, all 3 feature files re-run, both

[2016-09-12 22:40] NickTomlin commented on #18
@Joel-fogue interesting, could you provide more detail on the output between the 2nd and 3rd run?

protractor-flake should only re-run everything if it can't find any single failing test cases in the output, so maybe there's a test that's failing in a non specific way

[2016-09-13 04:58] wswebcreation commented on #18
@Joel-fogue ,

I've been rethinking this part and I think it all comes up to the table in the [cucumber docs](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md).

In your first run:
- multiple featurefiles + shardTestFiles : true + failure  => specs printed in log => protractor-flake will deliver the failed feature file to protractor again
  In your second run:
- 1 single

[2016-09-13 14:48] joelfogue commented on #18
@NickTomlin @wswebcreation Thanks to both for your quick responses;

@wswebcreation You missed my last 2 responses; I have been using that **_afterHook.js_** and including in my **_cucumberOpts_** block inside the **_protractor.conf.js file_**, please see my previous last two comments from yesterday.

@NickTomlin I cannot provided any stack-trace of my company's work but I will put together a dumm

[2016-09-13 18:26] wswebcreation commented on #18
@NickTomlin , is there an other way how I can contact you? You've got my email, can you please PM me? I've got some questions about this part.
Tnx in advance

[2016-09-13 19:54] NickTomlin commented on #18
@wswebcreation I'm going to be busy for the next day or so but i'll email you to start the thread

[2016-09-16 13:11] wswebcreation commented on #18
@Joel-fogue ,

Can you please update to version 2.1.2 (released today) and try again. I've refactored the `cucumberMulti` parser and with some help of @NickTomlin we changed the `index.js` file.

[2016-09-16 13:15] joelfogue commented on #18
@wswebcreation Wow you guys are on fire! I appreciate both of your efforts on this. I'll grab a copy and try again; will update you before noon today, possibly earlier, thanks again so much; this comes at a time very much needed.

[2016-09-16 13:24] joelfogue commented on #18
@wswebcreation  so I just installed protractor-flake and it grabbed the latest. However, I'm getting that error message below (**_`UNMET PEER DEPENDENCY protractor@>= 2.x`_**) - I understand that it means that protractor-flakes needs `a dependency of protractor whose version should be greater than 2.x.`

So I checked my protractor version with `protractor --version`and it gave me `Version 4.0.1`
I

[2016-09-16 13:31] wswebcreation commented on #18
@Joel-fogue,
Is protractor also installed global? The log you've pasted is only warning you, not blocking. See the readme to give `protractor-flake` the path of protractor.

For the future, it's better to keep this thread releated to the issue and check the manual / contact us.

[2016-09-16 13:37] joelfogue commented on #18
@wswebcreation Definitely, it's installed globally that's what that `-g` flag meant in the note I sent earlier. Understood, will try to keep questions to the main issue at hand :)

What I will do if I still run into the same problem is, I will create a public repo with dummy feature files and share the repo here so you guys can clone and reproduce the same issues.

Will get back to you hopefully b

[2016-09-19 20:06] joelfogue commented on #18
Beautiful ! Works as expected.
I used the cucumberMulti parser as seen below
 **`protractor-flake --parser cucumberMulti --node-bin node --max-attempts=3 -- protractor.conf.js`**

And ran 10 chrome instances in parallel as seen in config below:

[code]

And what I observed this time is that protractor-flake will only rerun failed tests no matter what --max-attempt is set to.

This is exactly what

[2016-09-19 20:19] wswebcreation commented on #18
Tnx for the reply!

Spread the word 👍🏼

[2016-09-19 20:25] joelfogue commented on #18
Definitely I will; I think this issue can be close whenever you get a chance unless someone else runs into problems then they can reopen it. I already answered several questions on stackoverflow by referring them back to this github page.

[2016-09-19 20:39] #18 closed

[2016-09-19 20:39] NickTomlin commented on #18
Glad to hear it worked out! Thanks!

[2016-09-28 18:02] phgnx commented on #36
Sorry for the delay, I've been quite busy.

Would you prefer :
- Add an option which will give the path to be required assuming the parser value is set to "custom" into the index
- Update the getParser function to try to require the name (which might actually be a path so maybe a bit confusing) if !all[name]
- A mix of both, based on a second optional parameter supported by the getParser method an

[2016-09-30 18:37] NickTomlin commented on #36
Sorry for the late reply!

This is an interesting question, let's think about a few options for calling it

[code]

My initial reaction is that it would be worth it to try something fancy like `protractor-flake --parser/path/to/parser.js`.

We could take a few approaches:
1. Require that parsers include the full extension `.js`/`.ts`/`.es6` and assume that any parser name that ends with a `.` shou

[2016-11-01 12:47] wlsf82 opened #39 "Integration with grunt-protractor-runner"
Is it possible to integrate protractor-flake with grunt-protractor-runner (https://www.npmjs.com/package/grunt-protractor-runner)?

[2016-11-01 13:03] wswebcreation commented on #39
Hi @wlsf82,

Yes it is possibile, but it should be a PR for `grunt-protractor-runner`. They should provide the command line parameter like `--protractor-flake --attemps=3` and create an implementation for it.

Hope this answers your question.

[2016-11-01 15:00] wlsf82 opened #40 "Not able to use grunt run to run protractor tests with protractor-flake"
I created the following target on grunt run:
[code]
But when running `grunt run:protractor-flake`, I'm facing the following error:
[code]
And if I execute the following in the command line, my tests are correctly executed:
[code]
Note: here is a reference for grunt-run: https://www.npmjs.com/package/grunt-run

[2016-11-01 15:05] wswebcreation commented on #40
Can you run grunt `run:protractor-flake` with a `--verbose` logging to see what it spawned on the command line and check it with the command above.

When I run it with my own runner it works and this is spawned on the command line

`Spawn node with arguments: /Users/wswebcreation/test/node_modules/protractor-flake/bin/protractor-flake /Users/wswebcreation/test/node_modules/protractor/bin/protracto

[2016-11-01 15:13] wlsf82 commented on #40
here it is:

[code]

[2016-11-01 15:24] wswebcreation commented on #40
Can't make much form this. Also looked into grunt-run and I can't find how the spawn with protractor works.
In my opinion this is more a 3rd-party issue then a `protractor-flake`-issue.

@NickTomlin, what do you think?

For my customer I created a fork of `grunt-protractor-runner` and added this

[code]

[2016-11-01 18:00] #39 closed

[2016-11-02 08:31] wlsf82 commented on #40
@wswebcreation, what about submitting a pull request with this change of your fork?

[2016-11-02 08:40] wswebcreation commented on #40
@wlsf82,

It's a possibility, need to contact the maintainer for it because we need to add more parameters to make it configurable.

Can I close this issue for you now?

[2016-11-02 08:50] wlsf82 commented on #40
Yes, sure.

[2016-11-02 08:50] #40 closed

[2016-11-22 00:54] gologox commented on #19
This is also happening to me on Protractor 4.0.11.

[2016-11-22 15:20] NickTomlin commented on #19
Hmm, unfortunately given the way that stacktraces work there's no easy solve for this. The exception will be thrown in the spec that it was defined and that's what protractor flake will pick up on. Can you share the output of running the test without protractor flake?

[2016-11-22 18:48] gologox commented on #19
I think an easier solution, would be to allow a "spec blacklist" file that one can pass as a parameter to protractor-flake. Protractor-flake would then parse each entry, create a pattern and if the pattern is matched, do not add the spec to the object for rerun.

blacklist.json
[code]

Command Param:
[code]

[2016-11-23 18:56] quantizor commented on #6
This is still a bug. Using multi and everything gets re-run.

[2016-11-23 19:02] wswebcreation commented on #6
Can you give some more info about what you experience?

* Your config
* Your command you use to run protractor-flake
* The log that needs to be parsed

Tnx in advance

[2016-11-28 07:24] nitsanfri opened #43 "Compatibility with gulp-protractor"
Hey,

I was wondering if someone managed to integrate protractor-flake with the gulp-protractor project (https://github.com/mllrsohn/gulp-protractor).

I was trying to create the following gulp task:

gulp.task("test-e2e-new", function(){
  gulp.src(path.join(consts.appRoot, 'test/**/*.js'))
    .pipe(protractorFlake({
      maxAttempts: 3,
      protractorPath: './gulp/protractor.conf.js'
    },

[2016-11-28 16:26] Klaas-Jan opened #44 "protractor-flake does not retry failed specs if the expectation is in a promise"
It seems that when you place an expectation in a promise in your test, the failed spec is not registered by protractor-flake as a spec it should retry.

Example:
[code]

When value is not 'something', the test fails and counts as a failed test in the amount of failed tests at the end of the test run. But it is not being retried.

Example of a console log of such a situation (3 tests have expectati

[2016-11-28 18:37] NickTomlin commented on #44
This is because the stack trace for exceptions thrown in webdriver promises does not include the line of the file. Protractor flake takes a very simple approach to scrapping through the stacktraces and if this information isn't found it treats it as a re-run.

There isn't a great solve for this at the moment; I'd more than welcome a PR to make this better.

Two questions

- Can you share the outpu

[2016-11-29 10:36] Klaas-Jan commented on #44
Output:

[code]
Strange thing is ... I do see a filename to parse here.

Command line options:
```protractor-flake --max-attempts=3 -- protractor.conf.js```

Maybe a quick fix would be that all the tests are being retried when the number of tests to retry don't match with the number of failed tests. I don't care if the tests have to take a while because they are all being retried, but failed tests

[2016-11-29 15:10] NickTomlin commented on #43
Unfortunately the gulp paradigm is a little forced with protractor and protractor flake (since at the end of the day, neither supports "streaming" of files). If you want to use gulp to kick off a protractor flake task, the following should suffice:

[code]

[2016-11-29 15:32] NickTomlin commented on #44
Ah interesting; this output is from a different reporter than I am used to; unfortunately it still doesn't pass the criteria that the [standard parser](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/standard.js#L7) looks for.

Looking for passed files would be great but I don't know of a generic way to get which files passed and which did not (protractor doesn't provide thi

[2016-11-29 16:10] Klaas-Jan commented on #44
Sounds like a good idea.

[2016-11-29 20:44] nitsanfri commented on #43
Thanks so much! It looks much better. It actually runs 3 times (3 retires), however all tests fails due to
(I don't know if this is your scope though...).
This is the error I get from all the test:

Project Name - Test Name
    ✗ should not display the table when the page is loaded without params
      - Failed: JavascriptError
          at /Volumes/case_sensitive/dev/myCompany/trunk/MyProject/bui

[2016-11-29 21:22] nitsanfri commented on #43
It's a bug on my end.
All looks great now! :)

Thanks again for the help - super happy to use your lib

[2016-11-29 21:22] #43 closed

[2016-11-30 00:42] NickTomlin commented on #43
glad it worked, thanks 😄 !

[2016-12-10 17:43] NickTomlin commented on #44
I have a pull request for custom parsers https://github.com/NickTomlin/protractor-flake/pull/45; I'd appreciate it if you'd take a look!

[2016-12-22 01:02] sul4bh opened #47 "About making flake message more visible"
The messages/logs from protractor-flake are hard to notice in long stream of logs. Is there a way to make the messages more visible?

Some of the messages that I am talking about are:
'Re-running tests: test attempt ' + testAttempt + '\n'
'Re-running the following test files:\n'

I am thinking we could have an option to add colors to various log levels? Most of the messages generated by flake are

[2016-12-22 04:55] wswebcreation commented on #47
Hi @sul4bh,

Sounds like a good idea. We can use for example [chalk](https://github.com/chalk/chalk) for this. On the other hand, colors are not always seen in CI solutions like Jenkins.
Can you create a PR for it to share your idea?

Grtz
Wim

[2016-12-22 14:25] NickTomlin commented on #47
👍  would love to see a PR for this

(and also to to ensuring that we allow for disabling this for CI/Automated solutions that may not support colors)

[2016-12-27 18:14] NickTomlin commented on #36
Support for custom parsers was released in 2.2.0 https://github.com/NickTomlin/protractor-flake/commit/97911839600e39ec01f86f14dcd74a32822730fd

[2016-12-27 18:14] #36 closed

[2016-12-27 18:15] NickTomlin commented on #15
I'm going to go ahead and close this since we now have custom parsing support. This should allow users to tailor a parser to their specific output. Commit: https://github.com/NickTomlin/protractor-flake/commit/97911839600e39ec01f86f14dcd74a32822730fd

[2016-12-27 18:15] #15 closed

[2016-12-27 18:16] NickTomlin commented on #44
Custom parsers have been released https://github.com/NickTomlin/protractor-flake/commit/97911839600e39ec01f86f14dcd74a32822730fd. I'm going to go ahead and close this for now. Feel free to reopen another issue if there is still a problem.

[2016-12-27 18:16] #44 closed

[2016-12-28 15:14] trevcor commented on #6
I'm seeing a similar issue using the multi parser where any spec that has a pending test will be re-run every time.

[2016-12-31 16:05] NickTomlin commented on #6
@trevcor can you provide the following details:

* Your config
* Your command you use to run protractor-flake
* The log that needs to be parsed

[2017-01-13 23:12] #47 closed

[2017-02-01 21:28] naspeh commented on #6
Hey, thanks for hard work!

It works great for other specs, but for this I got all specs running when one spec fails.

this log has spec name
[code]
spec here https://github.com/superdesk/superdesk-client-core/blob/master/spec/analytics_spec.js

----
**Updated:** one more case

[code]
spec: https://github.com/superdesk/superdesk-client-core/blob/master/spec/search_spec.js

[2017-02-02 05:45] wswebcreation commented on #6
@NickTomlin,

Looking at the above log it looks like the regex in the [standard.js](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/standard.js#L7) parser doesn't give any match. Only `(?:\[object Object\]|Object)` gives a match.
If you look at the testdata we use to test the [jasmine2](https://github.com/NickTomlin/protractor-flake/blob/master/test/unit/support/fixtures/fai

[2017-02-02 15:17] NickTomlin commented on #6
@wswebcreation great call; I think you are right. I wasn't actually aware that `Object.it` was a jasmine built in. I think your solution sound fair; want to PR it?

[2017-02-02 15:25] wswebcreation commented on #6
@NickTomlin,

Will make a PR for it and add a new testcase for it. Hope to do it this weekend. I got 1 question, you say _I wasn't actually aware that Object.it was a jasmine built in_ , do you mean with this that this is new and we need to use it?

Grtz

Wim

[2017-02-02 18:03] wswebcreation commented on #6
@naspeh ,

Can you give a complete anonymized log so I can create a correct test for it?
Tnx in advance!

[2017-02-02 18:23] naspeh commented on #6
@wswebcreation, sure, here is: https://gist.github.com/naspeh/38a89bb2bdc48a98248e422c725f288d

Thanks for attention and quick feedback!

[2017-02-03 03:16] NickTomlin commented on #6
@wswebcreation I was confused because I hadn't seen `Object.it` in Jasmine before. After doing some quick looking I think it's coming from [`jasminewd2`](https://github.com/angular/jasminewd/blob/jasminewd2/index.js#L218) so we should definitely expand the regex.

[2017-02-03 06:54] wswebcreation commented on #6
@naspeh

Tnx. Is this the complete log? I only see 1 failure on 1 spec file (on both examples you gave me). Is that correct?
The link to the superdesk project you provided, is that also the testsetup you are using? `"protractor": "^4.0.13"`?

[2017-02-03 07:26] wswebcreation commented on #6
@NickTomlin,

When I create an example project with `"protractor": "^4.0.13"` (if the setup of @naspeh is the same) and run a failed spec I get this logging

[code]

There the `<anonymous>` is back again. With how many checks should I expand the regex, because I also see more globals in the  [`jasminewd2`](https://github.com/angular/jasminewd/blob/jasminewd2/index.js#L218)-link you provided. If I'

[2017-02-03 09:13] naspeh commented on #6
yes this is complete log for protractor step, this is false failing which I want to catch up with `protractor-flake` :)

[2017-02-03 12:00] wswebcreation commented on #6
Added a PR for it https://github.com/NickTomlin/protractor-flake/pull/49

[2017-02-05 21:56] naspeh commented on #6
Super. Thanks guys, it works, I've just checked new logs with `protractor-flake@2.4.0`

[2017-02-06 04:06] wswebcreation commented on #6
Awesome 👍

[2017-02-09 00:13] sul4bh opened #50 "Parsers do not validate if a testrunner's output is parsable"
The parsers might need some type of smoke test/check to determine if the output of a testrunner is parsable or not. Probably show a warning message that the parser might not be able to accurately parse an output if the smoke test fails?

I ran into a case where the test-runner output would partially match `multi` parser's regex. The parser was able to extract the spec filenames but was unable to d

[2017-02-09 05:11] wswebcreation commented on #50
Hi @sul4bh,

A PR to optimize the parser is always welcome. Can you also give a log example about the problem you were facing?

Tnx in advance

Wim

[2017-02-11 02:24] sul4bh commented on #50
Not sure if I can share the full log but it was my bad using the `multi` parser. Using `standard` parser fixed my immediate issue.

I will look into adding basic test for `parser` probably this weekend.

[2017-02-16 19:27] sul4bh commented on #50
@wswebcreation Ran into standard parser not parsing the errors correctly. See the following:
https://regex101.com/r/yfRPFL/2

[2017-02-16 19:29] wswebcreation commented on #50
Tnx

Sorry for the late reaction, was very busy. Will look at it this weekend.

[2017-02-17 14:57] wswebcreation commented on #50
Hi @sul4bh ,

Just overwritten you log, sorry. What's the error you get when you use the multiple parser? If you look at [this](https://github.com/NickTomlin/protractor-flake/blob/19ca355198ce7b7f784c80a51a14e09fc8e6d213/test/unit/support/fixtures/sharded-output-single-failure.txt) log you will see that the standard parser also matches the jasminewd2 line, same error you had.

I could reproduce it

[2017-02-24 19:47] tyleragnew opened #53 "Unable to Switch Conf File"
@NickTomlin - Im seeing an issue where I'm not able to pass in the config file as a build arg. Is Flake configured to allow a conf file other than the regular protractor.conf.js ? This is my gulp task:

[code]

[2017-02-24 19:59] tyleragnew commented on #53
I have also tried passing it in as a protractor arg and no go:

[code]

[2017-02-24 22:51] sul4bh commented on #50
I encountered addition issues with standard parser. I wrote a custom parser to solve the issues. See here for the regex that I used: https://regex101.com/r/WIiUyk/3

[2017-02-25 14:32] NickTomlin commented on #50
@sul4bh Glad to hear; I think a custom parser is appropriate for this use case. An ideal solution would be if we could interrogate each framework for the failed files/specs but using custom parsers to handle differences in formatting is the best approach now.

I'm going to go ahead and close this.

[2017-02-25 14:32] #50 closed

[2017-02-25 14:43] NickTomlin commented on #53
There is no `configFile` option; `protractorArgs` are passed directly to protractor (just like you would via the CLI) so you'll need to pass the argument exactly as you would to protractor, without the `--`

[code]

I was able to do this with a test Gulpfile. I'm going to go ahead and close this for now but please holler if that does not work for you.

Thanks 😄 !

[2017-02-25 14:43] #53 closed

[2017-04-08 03:12] rafaelcs opened #54 "Protractor-flake running again the tests that have passed"
How can I configure to run only those tests that failed? Currentlyits  running even the tests that passed the first time

[2017-04-08 07:20] wswebcreation commented on #54
Hi @rafaelcs ,

What do you exactly mean? Does it run alle the spec / step files again, including the spec / step-files that hold no failed tests?

protractor-flake can only run a spec / stepfile which holds at least 1 failed test. It can not specifically run the failed test.This due to the log parser that will check which test from which file failed, it will then collect all the files with failed

[2017-04-08 07:24] rafaelcs commented on #54
I mean that, for example, I have spec1.js and spec2.js...if only the
spec1.js is failing, why spec2.js run again too?

Its my problem

Em 8 de abr de 2017 4:20 AM, "wswebcreation" <notifications@github.com>
escreveu:

[2017-04-08 07:28] wswebcreation commented on #54
Can you provide us the following info:

- configuration, how do you run protractor-flake
- logging

Tnx in advance

[2017-04-17 21:38] rafaelcs commented on #54
Sorry for delay @wswebcreation

My **flake** file:

[code]

My **conf.js**

[code]
On this screen, you can see that only two tests failed

![image](https://cloud.githubusercontent.com/assets/8113555/25105856/eb25409c-239c-11e7-9810-638713970985.png)

But when the tests ran again, all the specs were executed instead of just running the specs that failed

![image](https://cloud.githubusercontent.com

[2017-04-18 04:50] wswebcreation commented on #54
Hi @rafaelcs,

Is this the only trace you have from your tests, because I think the _specreporter_ is the problem here. What protractor-flake does is that it:

1. checks the exitcode after all tests are ran
2. reads the log and parses it.

When I look at you log there is no logging that matches this regex of the [standard](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/stan

[2017-05-03 12:24] manholok opened #57 "Message re-running test file, but still re-runs my other files"
![screenshot_rerun](https://cloud.githubusercontent.com/assets/2269966/25660048/d43a55dc-300a-11e7-96ae-3871dec3a162.jpg)

Because of a timeout error not giving a stacktrace with a filename to work with, I've added a console.error(error.stack) in the afterEach() in every e2e file. The error log will appear when the currentSpec.failedExpectations is filled.

Before, it would get the message that it

[2017-05-04 02:13] NickTomlin commented on #57
Could you explain

In more detail? The logging means that protractor-flake [should be identifying the right tests](https://github.com/NickTomlin/protractor-flake/blob/master/src/index.js#L37) so perhaps there's an issue with how you are starting your tests?

Would it be possible to get you to reproduce this with an example?

[2017-05-04 14:35] manholok commented on #57
I found my mistake. This was in my protractor config.

I exported my specs in the multicapabilities like this:

[code]

instead of:

[code]

I noticed the difference when I was comparing it with another config file. Now my tests are re-running correctly

[2017-05-04 14:35] #57 closed

[2017-05-04 15:20] NickTomlin commented on #57
Glad to hear it! Thanks for reporting back!

[2017-06-12 17:14] beyaban opened #58 "protractor-flake within onPrepare function"
can i configure flake options within onPrepare function by protractor config?

[2017-06-12 17:19] wswebcreation commented on #58
No, you can't run it like that. You can see protractor-flake as a wrapper around Protractor to read the log. This can't be done with the `onPrepare` of Protractor.

[2017-06-12 22:17] NickTomlin commented on #58
👍  Protractor Flake is just a wrapper for executing `./node_modules/.bin/protractor` so you'll need to do all your flake configuration outside of protractor.

[2017-06-12 22:17] #58 closed

[2017-06-20 02:57] surendraJ commented on #54
Recently I am also getting this error.

98 specs, 1 failure
Finished in 446.454 seconds

[21:37:14] I/launcher - 0 instance(s) of WebDriver still running
[21:37:14] I/launcher - chrome #01 failed 1 test(s)
[21:37:14] I/launcher - overall: 1 failed spec(s)
Closing report
[21:37:14] E/launcher - Process exited with error code 1

Using standard to parse output
Re-running tests: test attempt 2

**Test

[2017-06-20 03:56] wswebcreation commented on #54
Hi @surendraJ

Can you please provide your logging so we can see what protractor-flake should parse?

Tnx in advance

[2017-06-20 04:07] surendraJ commented on #54
@wswebcreation How can I generate the log? Is there any configuration do I need to fix to see the log?

[2017-06-20 04:17] wswebcreation commented on #54
@surendraJ It's you console log / output from your protractor tests

[2017-06-20 04:27] surendraJ commented on #54
@wswebcreation here is my log I am not sure it would be helpful or not...
[code]

Using standard to parse output
Re-running tests: test attempt 2

Tests failed but no specs were found. All specs will be run again.

[2017-06-20 04:31] wswebcreation commented on #54
@surendraJ Is this the full log?

We need to the full log because, as also mentioned above, protractor-flake reads the output from protractor to determine which steps-files failed. Based on your logging I can check what goes wrong, so it would be nice if you can provide the complete output from your tests.

[2017-06-20 04:42] surendraJ commented on #54
@wswebcreation It's very huge log file so all are the success log before this one and failure message and again start 2nd attempt...
[code]

[2017-06-20 04:49] wswebcreation commented on #54
If this is the only logging for the failure then the standard / multi parser will not detect any failures in your logging. This means it will rerun all your specs again.

My assumption is that the `jasmine-reporter` is "cleaning" up the log the shown in the output. In my opinion this is the same problem @rafaelcs has and can only be fixed with a "customer" parser.

@NickTomlin , how do you think a

[2017-06-21 06:33] anuvratashu commented on #6
Hi Guys,
Its great work... But its still running all test even there are only 2 test which failed.
node_modules/.bin/protractor-flake --parser multi  --node-bin node  --max-attempts=2 --color=magenta --  JSOut/config.js",

var SpecReporter = require('jasmine-spec-reporter').SpecReporter;
            jasmine.getEnv().addReporter(new SpecReporter({
                displayStacktrace: 'specs'

[2017-06-21 07:16] wswebcreation commented on #6
Hi @anuvratashu ,

This is a closed issue, please open a new issue if you want, also provide your config, and your log so we can do a detailed check on your problem.

[2017-06-21 07:42] anuvratashu opened #59 "protractor-flake seems to rerun ALL tests and not only the failed test"
I am using "protractor-flake@2.5.1" version and running my test. In my test few of test are failing but its running all the test again.
Attached is the log file and the config file.
Below is the command i have used to run.

protractor-flake --max-attempts=2 --color=magenta -- config.js

[config.txt](https://github.com/NickTomlin/protractor-flake/files/1090613/config.txt)
[logs.txt](https://github.

[2017-07-07 17:23] klodiya opened #61 "Protractor-flake: duplicate tests in Allure report"
Hi Nick,

I was wondering if you had some experience with printing results of rerunning flake tests to Allure tool. After rerunning my tests 3 times, Allure will generate a report counting all failed tests and passed in the first run tests. I would like just to print failed tests in the last re-run. Maybe you have any ideas how to do so?

Thanks,
Tatiana

[2017-07-08 16:59] NickTomlin commented on #61
Hi There,

Unfortunately I'm not familiar with Allure (just took my first look and it seems very cool!). It looks like Allure provides a jasmine adapter but I'm assuming it has no way of differentiating duplicate output.

I'd reach out to folks more familiar with Allure, they may be able to help clarify how to customize the framework to play nicely. Sorry to not be of much help! Good luck! 😄

[2017-07-08 16:59] #61 closed

[2017-07-09 13:45] NickTomlin commented on #59
The log output seems to indicate that it is finding the failing spec file `TrajectorySpec.js` and re-running it (it only appears to run two specs `Validation of Selecting Deselecting the columns` and `Selecting Deselecting the columns`).

Is that not the behavior you are seeing? Or are you expecting it to re-run only the failed specs within the same file?

[2017-07-11 06:30] anuvratashu commented on #59
Yes, I am expecting to re run only the failed specs in the same file and not all the spec of one file.

[2017-07-11 06:51] wswebcreation commented on #59
@anuvratashu

protractor-flake can only determine which **files** hold failed specs, it **can't** only run the failed tests in 1 file. So for example:

[code]

In this case protractor-flake will read the console log and will see that `failing.example.spec.js` is failing. It will then collect the path in which the spec is stored and offers it again to Protractor. It **can't** offer only the 2 faili

[2017-07-11 06:51] #59 closed

[2017-07-11 17:40] GuyMograbi opened #62 "Does not work for sharded setup"
The current project I am on has passing builds even though some protractor test fails.

After some investigation I found that if I remove parallelism, everything is consistent.

Assuming
 - I have 10 tests
 - test 10 is flaky
 - test 5 fails
 - protractor is configured to shard the test

[code]

I suspect the following happens
 - test 5 fails
 - test 10 fails (overrides the failure for test 5 ?)

[2017-07-11 17:50] GuyMograbi opened #63 "Running all tests in a file instead of specific one"
It is possible in protractor to run specific tests within files

https://github.com/angular/protractor/issues/164

[code]

[2017-07-11 17:54] wswebcreation commented on #62
Hi @GuyMograbi ,

Can you provide some more info, for example:

- which parser do you use
- post your logging where you see this happen

Tnx in advance

[2017-07-11 17:59] wswebcreation commented on #63
Hi @GuyMograbi

Tnx for the question and for the info. For what I understand from the thread is that is is possible, but not stable.

If we look at protractor-flake then it can only determine **which files** hold failed specs, it **can't** only run the failed tests in 1 file. So for example:

[code]

In this case protractor-flake will read the console log and will see that `failing.example.spec.js

[2017-07-11 22:32] GuyMograbi commented on #62
I am not using any special parser.

I just see tests failing, but ignored by flake.

I bet it could easily be reproduced if we do something lie

Expect(2).toBe(Date.now()%2)

On Tue, Jul 11, 2017, 10:54 wswebcreation <notifications@github.com> wrote:

[2017-07-12 20:05] NickTomlin commented on #62
Could provide more detailed output? This is going to be difficult to troubleshoot without looking at the logs; protractor flake is pretty dumb and just scrapes the output from protractor/your test framework so we can get a pretty clear idea of what is occurring.

We don't track successful tests (just successful "runs") so an individual spec success shouldn't override a failure. This could be a fai

[2017-07-16 07:32] moinuddin14 opened #64 "Receiving error "SyntaxError: Invalid or unexpected token""
I have tried to pass suites and params args of protractor through the command line using protractor-flake and am receiving the following error.

[code]
I have tried various combinations of command line arguments as below and for all am receiving similar issues.

`node_modules\.bin\protractor-flake.cmd --protractor-path=node_modules\.bin\protractor.cmd --parser standard --node-bin node --max-attemp

[2017-07-16 16:17] tinker20 commented on #64
@moinuddin14 How are you providing the suites and the params arguments via the command line? Can you provide your `conf.js`so as to get more input regarding this?

[2017-07-16 23:56] NickTomlin commented on #64
Interesting!

As @tinker20 said, could you provide your protractor.conf, and:

- Your version of protractor
- Your version of node
- Your operating system (this looks like windows from your snippets?)

From doing some light googling this seems like an issue with node executables in [a windows shell](https://github.com/gotwarlost/istanbul/issues/13#issuecomment-222321667). I don't develop on window

[2017-07-17 04:15] moinuddin14 commented on #64
@tinker20 Please find below the conf.js file

[code]

@NickTomlin Please find below the requested details

Your version of protractor:
Your version of node: v6.10.3, npm 3.10.10
Your operating system (this looks like windows from your snippets?): Yes, it's Windows OS (As i would also be running this on various other Windows Jenkins Slave machines, unfortunately this code has to run ranging from Wi

[2017-07-17 04:15] #64 closed

[2017-07-17 16:58] NickTomlin commented on #64
@moinuddin14 great, glad to hear it is working 😄 !

[2017-07-18 16:36] klodiya opened #65 "Protractor-flake doesn't rerun all specs with failed tests"
For example after the first run I have 46 tests failing from 22 specs. It prints and executes a list of only 11 specs.  What can be the reason for that?

[2017-07-18 17:51] #65 closed

[2017-07-31 12:55] hudson-t opened #66 "ERROR: 'missing ) after argument list"
I am getting an error when running protractor-flake. I am trying to use a npm script but it gives me the following error:

**Error**
[code]

**npm logs**
[code]

**package.json - script**
[code]

All the node_modules directory references etc. seem right and the files all appear to be there. I don't think I am doing anything wrong - but suspect I might be as nobody else is having this issue?

- Win

[2017-07-31 17:18] NickTomlin commented on #66
This looks similar to https://github.com/NickTomlin/protractor-flake/issues/64 which was an issue with windows and node `.bin`s. I'm unfamiliar with how node on windows functions here but you should be able to resolve this by altering your command to ommit the paths. NPM should resolve to the correct executable without needing to specify it and protractor-flake will look up protractor for you.

[c

[2017-08-01 07:22] Tom-Hudson commented on #66
@NickTomlin - this sadly didn't help me. I changed the script to be exactly the same as you provided and it gave the same error.

Any other ideas?

[2017-08-01 09:29] wpalkuri commented on #54
Hi @wswebcreation  -
@NickTomlin - fyi
Please see my total log as below. You should see out of 3 tests, 2 tests have passed and 1 test failed. Expecting protractor-flake to re run ONLY the failed test in 2nd attempt. However, it runs all 3 tests again. Can you please suggest a solution or let me know if i missed something.

Thanks in advance.

[code]

[2017-08-01 10:18] Tom-Hudson commented on #66
@NickTomlin - I re-read your comment and didn't blindly copy and paste this time :)

Omitting `--protractor-path=node_modules/.bin/protractor` fixed this issue !

here is what i ended up with:
[code]

[2017-08-01 10:18] #66 closed

[2017-08-01 14:37] NickTomlin commented on #66
@hudson-t great, glad to hear that it worked!

If you have some spare time i'd appreciate a pull request that fixes or clarifies this for other windows users.

[2017-08-01 15:07] Tom-Hudson commented on #66
@NickTomlin - thanks for your help! I will update the the documentation later this week.

[2017-08-10 14:25] vdimikj commented on #6
Hi Guys,

I m facing an issue like this one.
The regex is not catching this one.

[code]

This is solvable by updating the old regex
at `(?:\[object Object\]|Object)\.(?:<anonymous>|it) \((([A-Za-z]:\\)?.*?):.*\)`
to
at `(?:\[object Object\]|Object|UserContext)\.(?:<anonymous>|it) \((([A-Za-z]:\\)?.*?):.*\)`

Though i m using SpecReporter, Jasmine, and starting flake with standard parser

Thanks,

[2017-08-10 15:35] NickTomlin commented on #6
@VladimirDimikjCuponation interesting, i'm not sure if this is a common thing? You could solve this by writing a custom parser for yourself, or, if this is part of jasmine, we could just incorporate it into the standard parser.

[2017-08-10 19:06] wswebcreation commented on #63
@GuyMograbi

Is this clear for you or do you have any other questions? I'm going to close this issue now but it's still open for discussion

[2017-08-10 19:06] #63 closed

[2017-08-10 19:07] wswebcreation commented on #62
@GuyMograbi

Is this still valid?

[2017-08-10 19:09] wswebcreation commented on #6
@NickTomlin

I think this has to do with the SpecReporter, see also [here](https://github.com/NickTomlin/protractor-flake/issues/54#issuecomment-309643992). I read a lot about the spec reporter, should we think about supporting that?

[2017-08-10 19:42] wswebcreation commented on #54
Hi @wpalkuri

Can you provide more info about the parser you use and the config you use?

When I look at this part of your log

[code]

I see a problem in your code you don't want to rerun, but just fix ;-)

The reason why the parser (don't exactly know which one you use) is that no exception is thrown that could be picked up by the parser to determine which spec file to rerun. Are you using SpecR

[2017-08-11 17:58] NickTomlin commented on #6
Interesting, the `UserContext` error seems different than the spec reporter (e.g. the spec reporter output doesn't have any stack trace information) but I agree that it is an issue.

 Since Jasmine supports multiple reports (IIRC) I wonder if we could do something like add a custom flake reporter that would write the output to a file or communicate with flake in some other way. Sounds slightly com

[2017-08-11 18:31] wswebcreation commented on #6
Having a few weeks off so plenty of time to think about it 😊

[2017-08-15 18:33] HaydenMeloche opened #68 "Issues with parsing cucumber"
Hi!
First of all, thank you for this plugin.
I have the plugin working I'm just having problems parsing cucumber output log so it runs every test case if 1 fails.
Any thoughts on what I could do to fix this?

Windows 7
Node version = `6.9.1`
Protractor version = `5.1.2`

Command I am running:
`protractor-flake --parser cucumber --max-attempts=2 -- protractor.conf.js`

Output I get:
[code]

[2017-08-15 19:40] wswebcreation commented on #68
Hi @HaydenMeloche

Tnx for the compliments. Which version of CucumberJS are you using?

When I look at the docs [here](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md#cucumber) you are using a parser that only works for version < 0.9.0 of CucumberJS. I would advice using the `cucumberMulti`

I also used you logging against the parser that should work with versions highe

[2017-08-16 13:34] HaydenMeloche commented on #68
@wswebcreation Thanks for the response.

I am using  `"cucumber": "^1.3.3"`.

I tried adding a hook for version 1. mention in the docs but it seems like the parser tries to read it and it errors.
LOG:
`> protractor-cucumber-hayden@1.0.0 test C:\OBIS\Protractor Testing

[code]

AfterHook.js
[code]

protractor.conf.js

[code]

Any ideas?

[2017-08-16 19:40] wswebcreation commented on #68
You added the wrong hook, the one you added was for CucumberJS 2

This is only for CucumberJS 1, for CucumberJS 2 you can use this piece of code...

So take [this](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md#always-print-specs) code ;-)

[2017-08-17 14:38] HaydenMeloche commented on #68
@wswebcreation I must be doing something else wrong. Still getting same error :(

[code]

[2017-08-17 14:51] wswebcreation commented on #68
Can you create a simple git project and give me rights, then I'll fix it for you tonight or tomorrow.

Grtz wswebcreation

[2017-08-17 18:15] HaydenMeloche commented on #68
@wswebcreation Sorry for wasting your time. I figured out what it was. I had `require` in the wrong section in `protractor.conf.js`................

Thanks for your help anyway!

[2017-08-17 18:15] #68 closed

[2017-08-17 18:37] NickTomlin commented on #68
@HaydenMeloche glad you figured it out.

@wswebcreation thanks for helping debug! I wonder if we could consolidate the cucumber parsing since `cucumberMulti` supports both multi and non multi specs. We could work to deprecate or just drop it and make a major version bump.

[2017-08-17 19:32] wswebcreation commented on #68
@HaydenMeloche

No problem

@NickTomlin

Looks like you can read minds. I first want to check what CucumberJS 3 does, was just released this week. Protractor-cucumber-framework was fixed today. Hope to get my boilerplate up and running this weekend and then will create a PR for protractor-flake to remove the CucumberJS parser so you will need to make a major.

By the way, the hook that logs a line

[2017-08-18 01:11] NickTomlin commented on #68
Yeah I think that'd be great if we could find a way to insert logging into the frameworks and not have to worry as much about parsing

[2017-08-21 08:50] vdimikj commented on #6
@NickTomlin @wswebcreation  any updates on this one?

[2017-08-21 09:22] wswebcreation commented on #6
@vdimikj

Currently not, I'm thinking about a different solution. But because people SpecReporter and want a clean report no stacktrace and and other logging is shown. That extra logging is needed by protractor-flake to read the logging and find the failing spec files.
I would suggest to change some settings in you SpecReporter initialisation, see [here](https://github.com/bcaudan/jasmine-spec-rep

[2017-08-22 23:42] ashubham opened #69 "Use JUnitXML output with grep ?"
Hey @NickTomlin would it be better we get rid of the Regex parsing we do for the protractor output and use the JUnitXML reporter instead ? Once we find failing tests from there we could just rerun the failed tests using the `grep` option provided.

[2017-08-24 03:13] NickTomlin commented on #69
That would require everyone to use the JUnitXML reporter, which I don't necessarily want to do.

 I'd be happy to talk about solutions that could use this though and add it as an option for a custom parser. I'd be super happy to collaborate on a PR!

[2017-08-24 20:57] wswebcreation opened #71 "FR: Create a new CucumberJS parser that replaces both CucumberJS parsers"
**Current situation:**
Currently protractor-flake for CucumberJS can use 2 parsers, the [cucumber.js](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/cucumber.js) and the [cucumber.multi.js](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/cucumber.multi.js) parser. The first parser is based on the logging of the framework for CucumberJS < 0.9.0 and the

[2017-08-24 21:03] wswebcreation opened #72 "FR: parse jasmine logging based on a console.log instead of framework log"
**Current situation:**
Currently protractor-flake for jasmine can use 2 parsers, the [standard.js](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/standard.js) and the [multi.js](https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/multi.js) parser. Both parsers are based on the logging of the framework and use complex regular expressions due to changes in

[2017-08-24 22:56] #54 closed

[2017-08-28 08:34] vdimikj commented on #6
Resolved with this PR
- https://github.com/NickTomlin/protractor-flake/pull/70
Thanks

[2017-08-28 21:49] NickTomlin commented on #6
👍  thanks for reporting back in

[2017-09-01 15:27] #71 closed

[2017-09-15 23:01] faisalAvizia opened #74 "Running all the tests when one or some fails"
Hi,

I am using mocha and mochawesome-screenshots and all my tests are re running when 1 or some fails.  I noticed that for jasmine reporter, there is a solution - do you have one for mocha and mochawesome-screenshots?

[2017-09-16 05:49] gawicks opened #75 "Working with angular-cli"
I would like to use protractor flake with ng e2e. Is this currently possible?

[2017-09-16 05:59] wswebcreation commented on #75
Yes you can, but you need to edit the tasks in Angular-Cli to run protractor from a protractor-flake file.

See the [usage](https://github.com/NickTomlin/protractor-flake/blob/master/src/index.js) how to configure protractor-flake, but check angular-cli how to edit the `ng e2e` task to run protractor with protractor-flake.

I don't know how to edit this exactly in angular-cli so I would advice you

[2017-09-16 05:59] #75 closed

[2017-09-16 14:12] NickTomlin commented on #75
@gawicks once you get things up and running feel free to add a pull request with a angular-cli section to the [docs](https://github.com/NickTomlin/protractor-flake/tree/master/docs)

[2017-09-16 23:26] gustavomick opened #76 "report chalk color disabled after hooking flake"
hi guys, nice lib.
may be this is a simple misconfiguration but to summarize, without flake, my jasmine customized reports are colorizing logs normally, after hooking those tests with flake I lose colors.

there is a configuration that i need to consider for this?

thanks

[2017-09-18 04:20] wswebcreation commented on #76
Hi @gustavomick

Tnx for the compliment 👍 . I see what you mean, strange thing is that it also happens on a project that doesn't have `protractor-flake` but also uses `chalk` as dependency in different modules. So first I would say it's dependency related, but will try to dive into it.

[2017-09-18 16:52] NickTomlin commented on #74
Hi There,

We don't have anything specific for mocha screenshots but we'll have a fix for mocha support soon (work ongoing in https://github.com/NickTomlin/protractor-flake/pull/60). That should allow things to work in mocha. We'll try to have that released in the next few days.

Thanks!

[2017-09-19 22:22] surendraJ opened #77 "protractor flake re running only last failure spec"
I am experiencing protractor flake re running only last failure spec file. Also interesting thing if there is only one failure spec then it re run all specs...

OS- Window 7, Node.js - 6.9.5 , Protractor- 5.1.2, Protractor-flake - 3.0.0
---protractor configuration file------
[code]
[protractor.conf.txt](https://github.com/NickTomlin/protractor-flake/files/1316028/protractor.conf.txt)

----- log fi

[2017-09-20 00:08] gustavomick opened #78 "add support for ts"
if sourcemap is enabled failures report files with ts file but spec must execute js file.

[2017-09-20 03:30] wswebcreation commented on #78
@gustavomick

Can you clarify it more with an example?

[2017-09-20 03:43] wswebcreation commented on #77
Hi @surendraJ

It only finds 1 spec because the regex of the standard parser is only matching on `at Object.<anonymous> (C:\mypro\e2e\spec\pf-deeplink.spec.js:7:1)`, see this [example](https://regex101.com/r/STPl7D/1)

The strange thing is that the second failed specs has this line `at Suite.<anonymous> (C:\mypro\e2e\spec\pf-deeplink.spec.js:30:6)` but you never define a `suite` in your config.

@

[2017-09-20 03:44] gustavomick commented on #78
Yeah np thnx. When parsing spec files to retry them. If sourcemap is enabled trace reporys myspec.ts and then prot flake tries aparently to execute that file instead of .js file.

[2017-09-20 04:16] surendraJ commented on #77
@wswebcreation Thanks for your resources and pointing out to custom parser. From above log I have two situation that I can address to regex,
1)  Error: Failed expectation
        at C:\mypro\e2e\spec\national-data-filter
2) at Suite.<anonymous> (C:\mypro\e2e\spec\pf
-deeplink.spec.js:30:6)

I am really wondering if this is the situation then how we would know which case will through which error. W

[2017-09-20 04:17] wswebcreation commented on #77
I think the problem is in you HtmlScreenshotReporter. Try to or disable it, or let it log stacktrace to the log. Because that is what protractor-flake needs

[2017-09-20 04:36] surendraJ commented on #77
I tried with **jasmine-spec-reporter** by disabling **html screen shot reporter** and still getting same error log.
[code]

[2017-09-20 04:43] wswebcreation commented on #77
Hmm, that is strange. Do you also have an example project where we can check this?

[2017-09-20 04:51] surendraJ commented on #77
I don't have right now to publish here but I can prepare something by weekend. Expectation failed error never matching any pattern at (?:\[object Object\]|Object|UserContext)\.(?:<anonymous>|it)

In protractor code looks like this,
`expect(text).toContain('(0)', 'expecting data has 0 data'); `

[2017-09-20 04:58] wswebcreation commented on #77
Tnx in advance

[2017-09-22 07:19] wswebcreation commented on #78
So if I understand you correctly, you are having `*.spec.ts` files, those are transpiled to `*.spec.js` files. The issues are logged to the console with `*.spec.ts` and passed on to `protractor-flake` to run them again. It can't find the files and it will run them all?

Can you also please provide:

- your `protractor.conf.js`
- console log that will show your problem

Tnx in advance

[2017-09-22 22:06] surendraJ commented on #77
I am going to close this issue since expectation error log from inside the promise never match with standard parser pattern. This issue similar with [issue-15](https://github.com/NickTomlin/protractor-flake/issues/15).

For now we have to use custom parser to match those. It would be good if we can include these to standard parser.

[2017-09-22 22:06] #77 closed

[2017-09-24 14:33] ghost commented on #65
What the solution ? i am trying to implement same.
Flake file :

#!/usr/bin/env node

/**
 * flake is a node script that uses protractor-flake to re-run failed tests. Note
 * that it reruns tests at the _file_ level, so if one test fails, it will rerun all
 * the tests in that file. Still... awesome.
 *
 * usage:
 * `./flake conf.js [other protractor args]`
 */
 //const rerun = require('./module')

[2017-09-24 17:51] NickTomlin commented on #65
@Trisha1212 could you open a new issue with the test output? Typically this is due to a reporter or test framework tweak that is changing the output to an unexpected format.

Also, you shouldn't need to use a wrapper scrip like the one that you've posted, the `protractor-flake` bin should do all that for you automatically.

Thanks! 😄

[2017-09-24 18:04] ghost commented on #65
Thank you for the reply.
https://github.com/NickTomlin/protractor-flake/issues/79

[2017-09-24 18:15] Trisha1212 opened #79 "Re run whole suite / not failed ones"
Hi there!

Thanks for submitting an issue! Please provide the following information:

- Operating system and version
Jasmine version: 2.4.1
Browser name: chrome
Browser version: 53.0.2785.143
Platform: LINUX
Javascript enabled: true
Css selectors enabled: true
- Node.js version - v8.1.2
- Protractor version - ~4.0.10
- Protractor flake version : "^3.0.1"
- Protractor configuration file :
_**flake

[2017-09-24 18:20] ghost commented on #79
1. Even i have comment out jasmine 2 screenshot reporter thinking the screenshot will have impact . How can i use screenshot reporter as well as flake together.

2. Does this lead to browser hang ? Because i saw couple of times browser hanging not sure anyone facing same issue

[2017-09-26 19:43] surendraJ commented on #15
@kogai I tried your custom parser for shardParser. That is fine if we execute as maxAttempts: 2. Whenever protractor flake start to re run on failure specs in 2nd attempts chrome ids are disappearing from log( for example [chrome #1-0] PID: 17662)...so that it is taking all specs in 3rd attempt...

[2017-09-27 07:40] ghost commented on #79
@NickTomlin : Would you please suggest me work around to resolve this issue

[2017-09-27 15:47] NickTomlin commented on #79
@Trisha1212 I'm confused by your output. I see multiple invocations of `npm test` and there are multiple parsers being used here:

[code]

[code]

It looks like the multi parser _is_ finding a failing spec file and re-running it. Can we focus on a simplified example using only the multi parser? Otherwise it's difficult to debug because there is a lot of output.

[2017-09-27 15:47] NickTomlin commented on #79
@Trisha1212 I'm confused by your output. I see multiple invocations of `npm test` and there are multiple parsers being used here:

[code]

[code]

It looks like the multi parser _is_ finding a failing spec file and re-running it. Can we focus on a simplified example using only the multi parser? Otherwise it's difficult to debug because there is a lot of output.

[2017-09-27 16:12] surendraJ commented on #79
@Trisha1212 You have lot of logs and really painful to read all those properly. You can test against few files with few spec with minimum logs so that other can read properly and help you. And configuration file also looks unreadable due to your comment and improper format...

[2017-09-29 16:10] westy92 commented on #78
This may be helpful: https://www.npmjs.com/package/source-map-support

[2017-10-02 04:22] Trisha1212 commented on #79
Thank you .

I reran the test and attached the gist.

https://gist.github.com/Trisha1212/929f8de55e6fc9ea91eb5db69102d1b1( This time its try rerunning one specs multiple times not all failed test)

[2017-10-02 04:24] Trisha1212 commented on #79
Thank you .

I reran the test and attached the gist.

https://gist.github.com/Trisha1212/929f8de55e6fc9ea91eb5db69102d1b1
Flake with multi as parser :  This time its try rerunning one specs multiple times not all failed test .

[2017-10-02 04:25] ghost commented on #79
Thank you .

I reran the test and attached the gist.

https://gist.github.com/Trisha1212/929f8de55e6fc9ea91eb5db69102d1b1
Flake with multi as parser :  This time its try rerunning one specs multiple times not all failed test .

[2017-10-02 04:42] ghost commented on #79
I again rerun the test attached the gist
https://gist.github.com/Trisha1212/d1e588e34907abbc9216096a831aa367
Flake with standard as parser : This time whole test suite re run instead of all failed test.

@NickTomlin , @surendraJ : Please let me know any other details helps you i will try to provide from my side.

Your help is appreciated.

[2017-10-03 15:26] surendraJ commented on #79
@Trisha1212 only thing I can say..protractor flake's parser are not sufficient to match all of the log to re run again...we need to have custom parser to match all of them.

You can check with pattern here: https://github.com/NickTomlin/protractor-flake/blob/master/src/parsers/multi.js

This issue might be useful: https://github.com/NickTomlin/protractor-flake/issues/15

[2017-10-04 07:42] bchew opened #80 "Protractor process forked/non-forked output differences causing all tests to be retried"
We recently noted an issue which only happens when there is only 1 failing test in the first attempt, and a subsequent failure of the test again in the second try. protractor flake is then unable to determine the failing spec from the output and falls back to re-running our whole suite of tests on the third attempt. (We are using the `multi` parser and have protractor sharding our tests).

Investi

[2017-10-04 17:57] NickTomlin commented on #79
@Trisha1212 As @surendraJ mentions, the multi parser is looking for output to attempt to match specs being run against any failures. First it looks for

1. Look for `------------------------------------` lines (which correspond to a sharded test run)
2. In each of these groups
    -  look for `Specs:`, use these as the specfile being run
    - Look for `0 failures`. If this is found mark the group

[2017-10-05 04:39] wswebcreation commented on #80
Good catch,

I'm not that into Jasmine / Mocha, but can we inject a console log after each failed test that will log the filename of the spec-file that failed. If so then we can have a generic implementation that would work in both of your described ways like we now have with the Cucumber parser, see [here](https://github.com/NickTomlin/protractor-flake/blob/master/docs/cucumber.md#add-a-specs--lo

[2017-10-06 15:19] NickTomlin commented on #80
Agreed; I think the best universal solution here is to write a custom reporter/logger for each framework and just consume our own output instead of trying to parse through the test runner output.

I don't use Mocha for my own specs, would you be up for collaborating on trying to get a custom reporter/logger working for Mocha? We can try to do the same for Jasmine as well.

[2017-10-17 16:12] poojaiiit opened #81 "custom parser integration:Does that require build again"
@NickTomlin How to integrate a custom parser and add some print statements into the same to check if that is working as expected.I created the custom parser as below:

[code]

however the only change is  let `FAILED_LINES =  /^(.*(Spec.js).*)$/g` from the default custom parser in /test/unit/support

I am not sure if this is picking the changes..is there a way to add some console logging in the par

[2017-10-18 21:52] NickTomlin commented on #81
Using a custom parser does not require a rebuild.

From the output it looks like no tests are found? `No specs found` are you sure your specs are actually running?

[2017-10-25 18:36] benjaminapetersen opened #82 "Improve README.md with protractor.conf.js"
The current README.md install & usage instructions aren't exactly clear, do you require & use this within your current `protractor.conf.js`?   Initially I'm inclined to think there is a bit more to it as:

[code]
`protractorFlake` wants to know where protractor lives.  True?

[2017-10-25 18:50] NickTomlin commented on #82
Your inclination is correct, flake handles executing protractor itself so this is not something that goes in your protractor config.

 think this could definitely be clearer. Would a simple `// run-protractor-flake.js` at the top of the file or something like "in a separate file" help?

Can you think of other ways of clearing this up? I'd be more than happy to accept a README pr

[2017-10-25 19:16] benjaminapetersen commented on #82
Well, I'm curious how one would setup a `grunt test` or `gulp test` or `npm run test` task to integrate this.  Perhaps even just clarifying how a `run-protractor-flake.js` would work along with an existing `protractor.conf.js`.  I haven't actually attempted to integrate this package yet, but it looks very promising for the types of issues I'm experiencing (running protractor in a Jenkins environme

[2017-11-07 20:43] NickTomlin commented on #69
I'm still very open to a PR here but I won't have time to pursue this myself. I think the future is going to be about using structured reporting (instead of trying to regex through output) so this is definitely the right direction.

I'm going to close this but please feel free to open a PR or another issue with some thoughts on implementation! Thanks 😄

[2017-11-07 20:43] #69 closed

[2017-11-10 22:37] NickTomlin commented on #62
Going to close this because it's been a long while.

[2017-11-10 22:37] #62 closed

[2017-11-10 22:37] NickTomlin commented on #81
Going to go ahead and close this since I haven't heard back.

[2017-11-10 22:37] #81 closed

[2017-11-17 22:15] rvowles commented on #79
I am seeing this in 2.6 - it appears that protractor-flake is adding items to "capabilities" and not null-ing multiCapabilities, so protractor just ignores the capabilities section.

`[cd11] Using cucumberMulti to parse output

[cd11] Re-running tests: test attempt 2

[cd11] Re-running the following test files:

[cd11] business-process/event-e2e/features/portal-william/williamDownloadsGeraldineFil

[2017-11-17 22:26] rvowles commented on #79
And that is because of this problem: https://github.com/angular/protractor/issues/2231

feel free to ignore my comment :-) i can code around this!

[2017-12-03 09:45] vdimikj opened #83 "Fail to catch spec which fails by jasmine default timeout"
Hi there!

When test fail due to
`Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`
Protractor-flake fails to parse the failing test and the spec is not rerun thus failing to "rerun potentially flakey protractor tests before failing."

## **For better recreation I have setup an example found on [git-url](https://github.com/vdimikj/protra

[2017-12-06 17:18] NickTomlin commented on #83
Unfortunately this is not possible without using a custom reporter; the stacktraces for timeouts don't include the path to the source spec in them if I remember correctly.

You could write your own reporter that prints the spec files out and then checks for failures and then write a custom protractor flake parser.

There's a feature request here https://github.com/NickTomlin/protractor-flake/issue

[2017-12-19 10:54] Tom-Hudson opened #84 "Feature Request: Expose attemptNo or allow code to be specified in beforeAttempts/afterAttempts"
I currently have a spec reporter which outputs an xml file that is then published to my CI after my tests have ran. At the moment, in `onPrepare` of my `protractor.conf` file, I delete any rogue xml files to ensure only one set of results are published from multiple flake runs. However, there may be a scenario where more tests pass on the the first/second run rather than the last, so I have now cr

[2017-12-23 16:08] NickTomlin commented on #84
I think this makes a lot of sense, could you give me some pseudocode for how you'd use this? This could potentially be a `param` that we pass to protractor or an env variable that we set. I'd want to make sure we can do it in a way that wouldn't clash with protractor config.

[2018-01-02 09:24] Tom-Hudson commented on #84
Glad you agree! To be honest I get a little twitchy with the thought of the attempt count being a Node environment variable as this value would persist if flake got stopped etc. It would also cause problems for shared CI/build servers with multiple builds unless you make the environment variable unique to the instance of flake running (not sure that's a good idea either)? In my opinion, it would b

[2018-01-25 11:01] ghost commented on #79
Following on the tickets :
I tried with
- capabilities/multi capabilities
- standard parser /multi parser
- direct connect /selenium grid

 issue is still reproducible :
Test Run logs : https://pastebin.com/t1UmpVSu ( logs are for standard and capabilities)
conf.js : https://pastebin.com/StM4uvg4
package.json
{
  "name": "dashboard-new-admin-e2e",
  "version": "1.0.0",
  "main": "index.js",
  "lic

[2018-01-26 00:39] rvowles commented on #79
if it is of any use, to make this work we use the following at the end of our config files. It checks if it is running inside a flake retry and if so, drops the multi capabilities. It also forces stdout/err to blocking because otherwise the results from the longer run often don't make it back to Flake.

console.log('looking for retry args from flake:');
process.argv.forEach(function (val, index, a

[2018-02-09 12:39] ammargalal commented on #18
Can we run it on jenkins only failed test cases

[2018-02-09 18:53] epgremill3 commented on #76
Hi there. I had this same problem, but I _believe_ it is an issue/feature of chalk: https://github.com/Marak/colors.js/issues/127

For me I added `--color` to the command line I'm feeding to protractor-flake and my colors came back. The issue linked also talks about what to do if you can't modify the command line.

Hope that helps.

[2018-02-09 20:25] epgremill3 opened #85 "Easier way to specify path of custom parser"
Hello,
I just started using `protractor-flake` today and I'm really liking it so far - thanks!

There's one thing I've run into that I had to work around - the custom parser path seems to use `require.resolve` which seems to use `__dirname` or equivalent to look for the file. However, I've installed `protractor` and `protractor-flake` globally, so I'm running my tests from a different directory th

[2018-02-09 23:08] NickTomlin commented on #85
Ah yep this looks like a bug. Thanks for reporting! I'm not on windows but I can replicate on OSX with a relative path.

I'll try to get a fix out tomorrow but it may take until next week. Feel free to submit a PR if you have a fix of your own!

[2018-02-10 02:41] NickTomlin commented on #85
I have a potential fix for this in https://github.com/NickTomlin/protractor-flake/commit/874a08eb2f10aeb24ccf94495e97f67f88ae58ea would you mind trying that out? I don't have a windows machine so there could be something that doesn't work there.

Thanks!

[2018-02-10 12:59] epgremill3 commented on #85
Gladly! I'll try to get to it this weekend. If not, then on Monday for sure. I'll report back as soon as I've tried it. Thanks!

[2018-02-12 14:10] epgremill3 commented on #85
All right - I tested and can confirm that all of the following work:
- Absolute path e.g. `C:\path\to\mycustomparser.js`
- Relative path with no leading modifier e.g. `to\mycustomparser.js`
- Relative path starting with ./ e.g. `./to/mycustomparser.js`
- Relative path starting with ..\ e.g. `..\path\to\mycustomparser.js`

I think it looks good - thanks!

[2018-02-14 03:08] #85 closed

[2018-02-14 03:19] NickTomlin commented on #85
This has been published to NPM as `3.0.2`. Thanks for reporting the issue!

[2018-03-08 12:31] rasjani opened #87 "screenshots of retries overwrite the original run"
Im not 100% if this is true but..

when flake reruns the tests, screenshots (atleast the index.html) gets overwritten consecutive retries.  Would be nice to have some way to retain the logs/screenshots for each iteration.

[2018-03-09 14:05] NickTomlin commented on #87
I think this is definitely an issue. The only indication we give is the [retry param](https://github.com/NickTomlin/protractor-flake/blob/master/src/index.js#L50) but that isn't a hit of how many runs have ocurred.

Off the top of my head, you could work around this by:

- Writing your screenshots to a timestamped directory
- keeping track of the test runs by writing to a file and then reading tha

[2018-03-10 12:41] rasjani commented on #87
No promises but since i do "need" this, i might end up actually addressing this in one form or an another.

[2018-03-11 01:45] NickTomlin commented on #87
Sure, no pressure 😄

If it's all right with you, i'm going to close this issue for now. Feel free to PR whenever or post back if you have a workaround.

[2018-03-11 01:45] #87 closed

[2018-03-11 09:01] rasjani commented on #87
Np problemo. Possible solution to my issue in pr now.
And kudos for really helpful first comment - saved me a lot of grunt work.

[2018-03-11 12:15] rasjani commented on #84
I guess my pr will address this as it will call protractor with --params.flake.iteration which then can be used in via browser.params.flake.iteration.

[2018-03-16 13:00] Tom-Hudson commented on #84
@rasjani - yes it would! If @NickTomlin is happy then I would link the PR so this issue can be closed.

[2018-03-17 10:44] rasjani commented on #84
https://github.com/NickTomlin/protractor-flake/pull/88

And its also already released.

[2018-03-17 13:32] NickTomlin commented on #84
@rasjani thanks for reporting back here and for your PR! I'm going to go ahead and close this issue 😄

[2018-03-17 13:32] #84 closed

[2018-03-30 21:05] theandrewlane commented on #78
Your .ts specs should be transpiled to .js... You might want to try jasmine-spec-reporter's customProcessors - you can read in the spec name, modify it (to match the transpiled js), and then write it to console. Either way, I don't think this is an issue with protractor-flake.

[2018-04-02 18:50] theandrewlane commented on #83
@vdimikj: If you set ```shardTestFiles``` to true in protractor.conf.js and use the multi parser, you won't have this issue. Protractor logs "Specs: <(specs-to-be-executed)>" for each browser instance by default, and the parser will identify the specs with Jasmine timeout errors.

If you must execute sequentially, you can try implementing the following:

In your protractor config, get Protractor's

[2018-05-09 07:36] raghulraj commented on #40
@wswebcreation Can you please share your fork link, so I can refer it.
Thanks.

[2018-05-09 12:22] tomyam1 commented on #72
I got hit by this issue, i.e. had failing specs pass due to wrong detection of the spec file.

We have a spec file that contains a global `afterEach` that tests the console error message printed during the spec. Since it's a separate file, protractor-flake treats it as the file of the failed spec, even though the spec that failed is defined in a different file (the actual file in not in the stack

[2018-05-14 22:03] qiangli commented on #12
root cause for the record: check if protractor and protractor-flake are installed into different locations (just as was originally reported) especially if you have multiple copies installed in node_modules, globally in /usr/bin or usr/local/bin. protractor-flake will get confused.

[2018-05-14 23:53] NickTomlin commented on #12
@qiangli thanks for closing the loop on this.

I'd welcome a pull request that prevents this issue you if have something in mind!

[2018-07-02 09:22] shivark opened #92 "Running serve as part of Flake"
Hi there!

I'm on Windows and Angular 6 - I was wondering if there is a way to run ng serve as part of the flake and close down once it's finished.
I'm trying to run flake on Teamcity.

Thanks,
Shiva

[2018-07-02 20:47] NickTomlin commented on #92
👋 Hi there!

I would do this in a wrapper script (or a background process) alongside protractor flake. I'm not a windows or teamcity user so I can't speak to exactly how that is done but I think it's possible. Hope that helps!

[2018-07-03 07:09] Anyman552 opened #93 "retryconfig doesn't work"
Hi there!

- Operating system and version: Windows 7
- Node.js version: 8.9.4
- Protractor version: 5.3.2
- Protractor flake version 3.3.0

everything works fine until i want to use the retryconfig-feature. The first test run works well. But if there is a failure i get an error at the next test attempt:
[code]
Protractor seems to throw the error because of more than one config files. So i looked a

[2018-07-03 18:37] NickTomlin commented on #93
Ah this definitely seems like a bug. Thank you for the thorough issue!

We could go with the approach you've suggested and just document that users _must_ pass the config as the first option in `protractorArgs`. I'd want to make sure that we aren't accidentally removing too much though.

Would you be up for submitting a PR with some tests? I'm currently pretty swamped with my day job but i'd be ha

[2018-07-05 07:33] Anyman552 commented on #93
I'm not sure if passing the config as first option is the solutution.

I'll take a look on it and submit a PR.

[2018-07-09 07:57] Anyman552 commented on #93
I've submitted a PR: #94

[2018-07-09 20:59] lxibarra opened #95 "running node ./protractor-flake-retry.js works putting than command inside npm run test fails"
Hi there, i wrote this simple file to tests the retry and it works great but as soon as i try to execute it as part of the ```npm run test``` command it gives me a timeout error. Details below

Works fine if executed in the console like so:  node ./protractor-flake-retry
[code]
But if i put the previous command in the package.json like so i get a timeout error

[code]
jasmine Timeout error happens

[2018-07-11 07:55] Anyman552 commented on #95
In my project this works well. How long does your test take? From my experience execution times are very variable. Maybe you should increase the *defaultTimeoutInterval*.

[2018-07-11 18:07] lxibarra commented on #95
turns out it was a backend issue that returned error 500 if a certain cookie was not found. It looks like on every retry the cookies are cleared so i need to re create it before running the specs again. I handle that on beforeAll and its working

[2018-07-15 15:39] NickTomlin commented on #95
@lxibarra sounds like this issue is resolved? If so, can you close the issue?

[2018-07-15 15:46] NickTomlin commented on #92
I haven't seen any activity on this so I am going to close it for now. Thanks!

[2018-07-15 15:46] #92 closed

[2018-07-16 00:00] #95 closed

[2018-07-16 08:45] ghost commented on #92
Thanks for the suggestion.
I created a script to run it, it's not ideal but does the job for now.
Thanks for the suggestion.

[2018-07-19 01:24] NickTomlin commented on #92
Glad you found a solution, thanks!

[2018-08-23 14:36] vishal-chandale commented on #66
@NickTomlin  Thanks for this , it helped me as well.

[2018-09-04 02:27] anandhi-credible commented on #79
@rvowles Your solution worked for me when rerunning flaky tests with multi capabilities. Thank you so much

[2018-09-14 21:40] gziebold opened #97 "seleniumAddress"
- Operating system and version
- Node.js version 6.9.1
- Protractor version 5.4.1
- Protractor flake version latest

Is there a trick to using the seleniumAddress parameter?  In the normal running of my tests I pass in the parameter of '--seleniumAddress http://localhost:4444/wd/hub' to override the default.  However when I try that same thing using protractor-flake it appears to resort to using t

[2018-10-30 16:22] muratkeremozcan opened #99 "how to use protractor arguments with yarn"
- OS: Win10
- Node.js: v10.8.0
- Protractor version: ^5.3.2
- Protractor flake version: ^3.3.0

Very cool tool and we would love to use it in our org.

Keeping it very simple and running it through CLI: there no changes in protractor.conf.js file or no new files in root (ex: protractor-retry-flake.js).

We are using yarn and this works:  `yarn protractor-flake --max-attempts=5`
We desire to run th

[2018-11-01 17:07] idanilovqa opened #100 "How to build with ng e2e and run config file via protractor-flake?"
Hi there!
We are trying to make protractor-flake work with building our code before running the tests.
Right now all I got working is a command like this "protractor-flake --parser standard --max-attempts=3 -- protractor.conf.js" which is good to run protractor-flake tests on an already built enviroment.

However, every time I try something like "protractor-flake --parser standard --max-attempts=3

[2018-11-18 22:24] NickTomlin commented on #99
Sorry for the late response. I currently do not use `yarn` or windows but I don't think there should be an issue with what you are trying to do, although it may look a little strange:

Given a `package.json` with the following `scripts` entry:

[code]

You _should_ (🤞) be able to use this command:

[code]

Which I think will be interpreted as  `protractor-flake --max-attempts=1 -- protractor-remot

[2018-11-18 22:27] NickTomlin commented on #97
If you want to pass selenium address to `protractor` you'll need to use `--` to not have `protractor-flake` treat it as an option:

E.g. from the README:

[code]
So a shortened example for your command (leaving out some other options) would look like:

[code]

Hope that helps!

[2019-01-14 01:50] NickTomlin opened #101 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-01-14 01:54] NickTomlin commented on #101
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-01-14 02:06] #101 closed

[2019-01-15 11:30] murcraft opened #102 "Protractor-flake no show outputs in console"
Hi there!

Thanks for submitting an issue! Please provide the following information:

- Operating system and version
- Node.js version
- Protractor version
- Protractor flake version
- Protractor configuration file
- Output from your test suite

You can collect the first few items easily with the [trouble](https://github.com/NickTomlin/node-trouble) cli `npx @nicktomlin/trouble protractor protract

[2019-01-15 11:32] murcraft commented on #102
I have a project with the next parameters:
**Node Version** v8.9.4 (NPM: 5.6.0)
**Operating System**: Windows 10

protractor@5.4.1
protractor-flake@3.4.0

My protractor-flake.file:
_let protractorFlake = require('protractor-flake')
let protractorArgs = []
process.env.maxAttempts = 2

protractorArgs.push('conf.js')
let suiteArg = "--suite=${process.env.suite}"

protractorFlake({
  maxAttempts: proc

[2019-01-15 11:35] andreybruslik commented on #102
We faced the same problem:

**Node Version** v10.13.0 (NPM: 6.4.1)
**Operating System:** Windows 10

protractor@**5.4.2**
protractor-flake@**3.4.0**

[2019-01-15 17:33] jayvdb commented on #102
It seems to be related to something in the v3.4.0 release.  v3.3.0 was working well.

[2019-01-15 17:34] jayvdb commented on #102
https://github.com/NickTomlin/protractor-flake/pull/98 seems like the cause.

[2019-01-15 17:48] NickTomlin commented on #102
Thanks for finding this. I'll figure out a revert strategy and roll this back in the next few hours for a short term fix, we can then figure a way to incorporate the new functionality with #98 in way that doesn't break things.

[2019-01-15 18:05] NickTomlin commented on #102
I've just released `v3.4.1` which removes the feature added in #98. Can someone confirm that this has resolved the issue?

[2019-01-15 18:15] murcraft commented on #102
Unfortunatelly, it's still not worked
"protractor": "^5.4.2",
 "protractor-flake": "^3.4.1"

![screen](https://user-images.githubusercontent.com/24752690/51201193-80a35300-190c-11e9-9495-6be972296c97.png)

[2019-01-15 18:33] NickTomlin commented on #102
I think the current workaround is to pin to `v3.3.0` I think this is actually broken by the typescript upgrade (that happened between 3.3.0 and 3.4.0 and _not_ the changes in #98. I don't have time to investigate until later today but I'll happily accept a PR in the meantime.

[2019-01-15 18:57] murcraft commented on #102
I'm looking forward solving of this problem, thanks!

p.s. I noticed it works only I set "protractor-flake": "3.3.0" certain version, without ^

[2019-01-15 20:01] NickTomlin commented on #102
It looks like this was due to some logic in `logger.ts` that did not get moved over in the switch to JS (my fault!). I have a fix that you should be able to use locally by installing from the branch:

[code]

@murcraft @jayvdb could one of you test that to verify? If so I can release a new version with that fix in place and re-roll the changes in #98

[2019-01-15 20:10] NickTomlin commented on #102
I'm also unpublishing `3.4.0` and `3.4.1` for the time being to prevent others from opting into this breakage with semantic versioning.

[2019-01-15 20:36] murcraft commented on #102
Yes, it works!

[2019-01-16 10:12] andreybruslik commented on #102
It works! Thanks.

[2019-01-17 23:16] NickTomlin commented on #102
@murcraft @andreybruslik

Just to confirm, are you saying that the branch in `npm i protractor-flake@NickTomlin/protractor-flake#fix-102` you works locally?

[2019-01-19 16:05] perchwell-e2e commented on #102
Yes, my project works with using this branch

[2019-01-23 17:13] NickTomlin commented on #102
@perchwell-e2e Great thanks for confirming that!

I'll try to prep a new release this weekend to restore the changes in #98. It looks like there's still some integration test breakage that I need to sort out before that happens.

[2019-01-24 11:19] andreybruslik commented on #102
I'm working with public repo. And now initial issue is not reproducible for me.

[2019-01-24 15:49] sivaram-vu commented on #100
I have the same issue. Could you please suggest.

[2019-01-28 03:26] NickTomlin commented on #100
Could I get either of you to create a small repository that reproduces the issue? I personally don't use angular-cli so that would make the problem/use case easier to understand.

Thanks!

[2019-01-30 13:58] Jakyhack opened #103 "Reruning all the tests not just the failed ones with cucumber."
Hi guys! I've seen some issues like that but not for cucumber. It's an strange behaviour. First of all, my data:

- Operating system and version: **Windows 10**
- Node.js version: **8.11.1**
- Protractor version: **5.4.2**
- Protractor flake version: **3.3.0**
- Protractor configuration file:

[code]

**My Specs:**
TodayFolder/:

- Morning.feature: With 3 Scenarios
- Afternoon.feature: With 3 Scen

[2019-01-31 09:24] sivaram-vu commented on #100
Hi Nick,

To run the e2e tests as part of the build, We need to configure it in angular.json file.

Below is a sample build configuration to launch protractor.

`"testapp-e2e": {
            "root": "e2e/testapp",
            "sourceRoot": "e2e/testapp",
            "projectType": "application",
            "architect": {
                "e2e": {
                    "builder": "**@angular-devkit/b

[2019-02-01 15:51] fubha opened #104 "protractor-flake doesn't run tests if suite is not specified"
- Operating system and version = MacOS 10.14.2
- Node.js version = 8.9.0
- Protractor version = 5.1.2
- Protractor flake version = 3.3.0

[code]

If I pass suites in the command then it runs the specified suites successfully.
`node config/run-protractor.js --suite=suite1,suite2`

But if I don't pass any suite then it gives an error.
`node config/run-protractor.js`

Error:
`Error: Error: more than

[2019-02-01 16:41] NickTomlin commented on #100
Unfortunately I still don't understand the use case and I don't have time right now to create a custom builder. I'd welcome a pull request for one though since it sounds like it would be helpful for others in the community. Thanks!

[2019-02-01 16:41] NickTomlin commented on #97
Closing due to staleness

[2019-02-01 16:42] NickTomlin commented on #99
going to close this due to inactivity. Let me know if you'd like me to reopen.

[2019-02-01 16:42] #99 closed

[2019-02-01 16:43] NickTomlin commented on #78
I'm going to close this because I think Andrew is correct (and this issue is old).

[2019-02-01 16:43] #78 closed

[2019-02-01 16:43] NickTomlin commented on #102
I'm going to go ahead and close this. I'll follow up with re-enabling #98 in the next few weeks when I have time.

[2019-02-01 16:43] #102 closed

[2019-02-03 22:55] NickTomlin commented on #104
I'm surprised that it works with the suites specified as an array, but `protractorArgs` should be a flat array of options and not contain nested arrays.

I've gotten your example to run both ways locally by spreading `suites` into protractor args. E.g.:

[code]

changes to

[code]

Here's my [repository](https://github.com/NickTomlin/protractor-flake-issue-104) with the fix in place.

If that make

[2019-02-04 11:27] fubha commented on #104
Thanks @NickTomlin. It's working fine with the spread operator `...`.

[2019-02-05 02:40] NickTomlin commented on #104
Great! I'm going to close this. I'll make a note to investigate clearer directions on the type of `protractorArgs` in the future

[2019-02-05 02:40] #104 closed

[2019-02-15 12:38] fubha opened #106 "protractor-flake doesn't run the remaining tests after retrying the failed test"
* Operating system and version = MacOS 10.14.3
* Node.js version = 8.9.0
* Protractor version = 5.1.2
* Protractor flake version = 3.3.0

**Flake file:**
[code]

**Config file:**
[code]

**Command:**
`node config/run-protractor.js`

Suppose I've started running all the tests
- `spec1.js` passed and `spec2.js` fails randomly
- It retries `spec2.js` and it's passed as a result of retry but then it e

[2019-02-16 00:15] NickTomlin commented on #106
What my expectation would be is:

1. initial run: all tests targeted are run (since no suites are provided by default)
   - spec1, spec3 and spec 4 pass
   - spec 2 fails and is passed for retry
2. Re-run of failed specs
   - spec 2 passes
3. Tests exit successfully

But it sounds like something else is happening. Can you provide some sanitized output, or an example repository?

Also as a side not

[2019-02-18 07:16] fubha commented on #106
@NickTomlin in my case it's not running all the targeted tests. It retries the failed spec file right away after it's failed. And then after doing retries it exits.

These are the logs I am getting in terminal;

[code]

There is no particular reason for using JS to run flake. The command you shared also giving the same output as above.

[2019-02-19 18:24] mathpunk opened #107 "protractor-flake finds the typescript file (not the compiled file) on retry"
This might be a documentation problem rather than a parser problem. I discovered that protractor-flake was rerunning all of my tests rather than the failed ones, so I tried a small test with one spec deliberately set to fail. Here was the command and the resultant output:

[code]

So far so good. But check this out: Continuing,

[code]

My read is, it looks like the first run correctly used my com

[2019-02-19 20:29] NickTomlin commented on #107
The issue here is that the path in the stacktrace (which is what flake uses to choose what to re-run) is a ts one and not a js one:

[code]

I'm not sure  if this is the default behavior, or something that is happening during transpilation. Can I get you to produce a small example repo? If it's an error with the project we can use that to create an integration test that we can use to build a fix a

[2019-02-19 20:42] NickTomlin commented on #106
I think the issue here is actually jasmine fail fast. Protractor flake assumes that your test run is going to run all tests and only pass it the failures. If fail-fast is failing on the first spec, flake is only going to re-run that failed test.

I'd typically solve this by only running fail fast locally, and then run all tests in CI.

Does that make sense? If not, we can talk about how to product

[2019-02-20 12:24] fubha commented on #106
@NickTomlin I want to retry the failed tests right away and don't want to run all the failed tests at the end, because in some cases my tests have dependency on each other so running them at the end won't do any good.

Currently it's retrying the failed test right away, which is good for me, but it doesn't continue to run the remaining tests. Is this possible to achieve?

[2019-03-17 22:37] sjmckinney commented on #107
I have a simple repo that exposes the issue if you're still in need of a test case.

[2019-03-19 17:01] NickTomlin commented on #107
@sjmckinney that would be helpful, please share it if you still have it

[2019-03-22 08:51] sjmckinney commented on #107
The url of the repo is:  https://github.com/sjmckinney/34-protons-protractor-automation

There are two identical specs; login.spec.ts and login1.spec.ts. The former contains a failing test version of the test 'should show user page loading message whilst logging in' which will cause that spec to be repeated.

Running tsc with the current tsconfig.json should compile the .ts files to a './dist' sub

[2019-03-22 22:11] NickTomlin commented on #107
thanks for this. I'm currently in a busy season at work and at home so I may not get to look at it for some time.

I'd welcome a pull request that bakes this into the standard parser (perhaps detecting ts paths and transforming them?) in the meantime!

[2019-04-02 12:44] gvashisht-qasource opened #109 "protractor flake executing all suites mentioned instead of specific suite"
Hi

- Operating system and version :  Windows 7 Professional
- Node.js version : 10.15.1
- Protractor version : 5.4.2
- Protractor flake version : 4.0.0
- Protractor configuration file :
[code]

- package.json file :

[code]

- Output from your test suite
I am executing command `npm run NonAngularTest` and this should execute only NonAngularTest testsuite that contains only 1 test file but it in a

[2019-04-04 12:44] rglynn-dev commented on #100
@sivaram-vu

Is your `protractor.conf.js`  really in `dashboard_frontend\protractor.conf.js`? By default it should be in `dashboard_frontend\e2e\protractor.conf.js`. If that is the case you want:
`protractor-flake --parser standard --max-attempts=3 -- e2e\protractor.conf.js`
Just a small thought on that.

As far as getting the build configuration to work with Angular, I too have been searching of

[2019-04-08 15:39] fires1989 commented on #106
I ran into the very same issue .Today to put in simple terms we have a login spec and a logout spec .If the login fails the retry happens only for the login spec and the logout spec isn't run .So i would suggest you add this as an important feature at the earliest since every app out their will definitely have dependencies .Willing to discuss with you regarding this ASAP.@Fubha Burney have you ove

[2019-04-10 13:50] fires1989 opened #110 "Feature Request: Option to mark failing and pending to run spec as failed"
Hi there!

Thanks for submitting an issue! Please provide the following information:

- Operating system and version
- Node.js version - v10.15.0
- Protractor version - 5.4.2
- Protractor flake version -4.00
- Protractor configuration file
-javascipt coding language with VScode
- Output from your test suite - NA
-Windows environment
[configfiles.txt](https://github.com/NickTomlin/protractor-flake/

[2019-04-11 11:44] Phonesis opened #111 "Same failed spec being marked to run twice with cucumber"
Seeing an issue with using protractor-flakes with Cucumber. When a spec fails (which for cucumber means a feature file) it is being re-run twice. This is the hook we use for logging failed specs:

[code]

In Jenkins, I can see the spec being correctly logged and picked up when it tries to re-run the failing specs. However, somehow the same spec / feature file is being listed twice and therefore re

[2019-04-25 21:08] NickTomlin commented on #111
Apologies for the late reply. It looks like the parser is picking up two files:

[code]

Without seeing more of the logs and your setup it's hard to know but my bet would be that either there's another thing logging out the failed spec or something is changing the path in the `After` hook you have.

[2019-04-30 14:55] tymfear commented on #109
According to the Caveats section:

Looks like the problem is in
[code]
Enable stacktrace displaying.

[2019-05-01 09:05] Phonesis commented on #111
Thanks for your reply. We are also seeing an issue where if a single Scenario fails in a Feature containing multiple Scenarios, the who Feature is re run? Is there any way we can set it to only run the failing Scenario(s) and not the entire Feature again?

[2019-06-26 13:16] Phonesis opened #112 "Failing Cucumber Scenarios causing entire feature files to re-run"
This is probably not so much a bug as a feature request perhaps but is it a known limitation that when you try to re-run failing Cucumber Scenarios with flakes it will instead run the entire feature file the failing scenarios(s) reside in?

It would be fantastic if flakes was able to just re-run the failed Scenarios as opposed to the entire feature file. Is this possible?

[2019-06-27 21:29] NickTomlin commented on #112
This would be great but I think there are a few pieces:

1) I think it would require some changes in the core (which would be beneficial to all) that would allow a parser to provide different params/options for the next protractor run:

        // WARNING: PSEUDOCODE
        function cucumberParser (output) {
          const matchingScenarios = /Scenario Failed: (.*)/.match(output)

          retu

[2019-07-03 11:32] Phonesis commented on #112
Thanks Nick, sadly I would have no idea where to start with this being more a C# and Java guy. Be amazing if someone was able to pick this up though

[2019-09-25 13:49] abubakarafzal opened #113 "Protractor Flake is not working with cucumber?"
Hi there!

Thanks for submitting an issue! Please provide the following information:

- Windows 10
- 12
- 5.1.2
- 3.0.0
- Flake Config
`'use strict';

const protractorFlake = require('protractor-flake');
const argv = require('yargs').argv;

protractorFlake({
    maxAttempts: 2,
    parser: 'cucumber',
    protractorArgs: [
        '../QuinCCucumber/config.js',

    ]
}, (status) => {
    process.e

[2019-09-25 13:52] abubakarafzal commented on #112
i am facing the same issue.
@Phonesis did you resolve this problem?

[2019-09-25 22:29] Phonesis commented on #112
No sadly not.

[2019-09-26 04:46] abubakarafzal commented on #103
@Jakyhack Did your problem resolved ?

[2019-11-06 06:43] Helen109 commented on #100
I use your command "forever start node_modules/@angular/cli/bin/ng serve && webdriver-manager update && protractor-flake --parser standard --max-attempts=3 -- e2e/protractor.conf.js && forever stopall" ro run test.But always hit error "This site can't be reached"when open localhost. Do you have any suggestion?

[2019-11-07 14:39] rglynn-dev commented on #100
@Helen109

I can't say I have had this problem myself. Would be good to see your console output when this is happening, is everything working successfully? It may be that ng serve is failing but because it is being run by forever you can't see the error being thrown.  You might want to check that you can just get your app to be served from a forever process before also attempting to test. i.e. jus

[2019-11-15 04:27] achuinard commented on #113
You shouldn't need this plugin anymore, you can just include a `retry` integer argument under the `cucumberOpts` in your `protractor.conf`.

[2020-03-13 10:12] IegorZabielin-KSO commented on #111
We faced the same issue, but with a shorter path:
[code]
and as a workaround, we modified logging by adding the rest necessary path part before:
```console.log('Specs:', `e2e/${testCase.sourceLocation.uri}`)```

As a result, feature is logged only once:
`
/e2e/dist/features/exampl1.feature
`

[2020-04-03 14:27] ogiexela commented on #82
Which file should contain the js code from "Usage > programmatically"?
How is it invoked?

[2020-04-04 15:55] NickTomlin commented on #82
@ogiexela Any Javascript file will do. E.g. if you were to write the contents of that example to `example.js` and then run `node example.js`.

I'm going to go ahead and close this issue. I'm happy to accept a PR to the README!

[2020-04-04 15:55] #82 closed

[2020-04-08 09:34] abhinaba-ghosh commented on #113
@achuinard Can you share your piece of code, please?

[2020-06-05 09:00] siovene commented on #109
Hi,
I'm commenting because I'm affected by this. @tymfear, I don't think your answer addressed the question: this is not about retrying, but about running a single suite.

Using `--suite` with `protractor-flake` still runs all e2e tests.

Do you know if it's possible to run a single suite?

[2022-05-24 18:16] #103 closed